<div class="app" :class="getAppTemplateClass()" ::class="'getAppClass()'">
    <view-header></view-header>
    <view-boardview></view-boardview>
    <view-fallsview></view-fallsview>
    <view-footer></view-footer>
    <view-popup :v-if="'popupstats.length'"></view-popup>
</div>