<div class="app" :class="getAppTemplateClass()" ::class="'getAppClass()'">
    <view-header></view-header>
    <view-standview></view-standview>
    <view-fallsview></view-fallsview>
    <view-menu></view-menu>
    <view-footer></view-footer>
    <button class="richorizonable" :@click="'onRichorizonableHandle()'">發掘</button>
    <button class="richswitch" :@click="'onRichswitchHandle()'"></button>
    <view-popup :v-if="'popupstats.length'"></view-popup>
</div>