<div class="app cms" ::class="'getAppClass()'">
    <view-header></view-header>
    <view-cmsmenu></view-cmsmenu>
    <view-cmsview></view-cmsview>
    <view-popup :v-if="'popupstats.length'"></view-popup>
</div>