<article>
    <header>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a :href="'/category/'+categorySlug" v-text="categoryTitle"></a>
            </li>
            <li>
                <a :href="'/'+slug" v-text="title"></a>
            </li>
        </ul>
        <h1 v-text="title"></h1>
        <div class="author author--above">
            <img :src="authorAvatar" />
            <div class="author__name" v-text="authorName"></div>
            <div class="author__info" v-text="authorDescription"></div>
            <time v-text="date"></time>
        </div>
    </header>
    <img class="cover" :src="cover" />
    <div v-html="content"></div>
    <section class="event">
        <a href="/event/philippine-study-aboard" target="_blank">
            <img src="/event/banner-cta.png" />
        </a>
    </section>
    <section class="author author--below">
        <img :src="authorAvatar" />
        <div class="author__name" v-text="authorName"></div>
        <div class="author__info" v-text="authorDescription"></div>
    </section>
</article>