<article>
    <header>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/agents">找顧問</a>
            </li>
            <li>
                <a :href="'/agent/'+slug" v-text="title"></a>
            </li>
        </ul>
        <h1 v-text="title"></h1>
    </header>
    <section class="bio">
        <img :src="avatar" />
        <h4>
            <span>專長學校類型 : </span>
            <span v-text="sphere"></span>
        </h4>
        <h2 v-text="title"></h2>
        <p v-text="exerpt"></p>
    </section>
    <section class="info">
        <h3>立即諮詢這名顧問</h3>
        <i class="visa">免費簽證</i>
        <i class="insurance">贈送保險</i>
        <button :@click="'onAgentContactClick()'">我要發問</button>
        <small>諮詢完全免費</small>
    </section>
    <section class="inner">
        <div class="intro">
            <h3>顧問簡介</h3>
            <ul>
                <li class="targetcountry" v-if="targetCountry">
                    <h5>主力國家</h5>
                    <div>
                        <span v-for="(item, key) in targetCountryDictionary" v-text="item.tw||key"></span>
                    </div>
                </li>
                <li v-if="seniority">
                    <h5>服務年資</h5>
                    <div v-text="seniority+'年'"></div>
                </li>
                <li v-if="experience">
                    <h5>相關經歷</h5>
                    <div v-text="experience"></div>
                </li>
                <li class="location" v-if="location">
                    <h5>服務地區</h5>
                    <div>
                        <span v-for="(item, key) in locationDictionary" v-text="item.tw||key"></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="skill" v-if="skillList&&skillList.length">
            <h3>專長簡介</h3>
            <li v-for="item in skillList">
                <img :src="publicPath+item.image_links.o" />
                <h4 v-text="item.title"></h4>
                <div v-text="item.content"></div>
            </li>
        </div>
        <div class="recommend" v-if="recommendList&&recommendList.length">
            <h3>學員見證</h3>
            <li v-for="item in recommendList">
                <img :src="publicPath+item.image_links.o" />
                <h4 v-text="item.title"></h4>
                <div v-text="item.content"></div>
            </li>
        </div>
    </section>
</article>