<article>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/agents">找顧問</a>
        </li>
    </ul>
    <img src="/image/homepage-pic.jpg" />
    <h1 v-text="title"></h1>
    <div>
        <p>英國有100多所大學，多達50,000種不同課程，不論是學士、碩士課程的申請，事前的選校準備都是很重要的。

選定了想讀的英國大學和科系後，就可以著手英國留學申請的準備工作了。一般而言，英國大學的留學申請是沒有截止日期的，大致上會從9月中旬開始申請，直到額滿為止，因此有些熱門的科系可能會提早額滿並停止招收；但無論如何，通常都要提早一年開始準備。

申請完後，便是等待學校通知審核結果，做出選校的決定，選好學校後就可以視情況決定是否需要申請學前語言課程(Pre-sessional)及申請宿舍，準備訂機票、辦理國際學生證、確認學校接機等英國留學出國前準備相關的事宜了。
        </p>
    </div>
</article>