<article>
    <header>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/schools">學校群</a>
            </li>
            <li>
                <a :href="'/school/'+slug" v-text="title"></a>
            </li>
        </ul>
        <h1 v-text="title"></h1>
    </header>
    <section class="filter" v-if="(locations&&spheres&&!confirmObjectEmpty(locations))||(spheres&&!confirmObjectEmpty(spheres))">
        <img :src="cover" />
        <li v-if="locations&&!confirmObjectEmpty(locations)">
            <label>學校地點</label>
            <span v-for="item in locations" v-text="item.tw"></span>
        </li>
        <li v-if="spheres&&!confirmObjectEmpty(spheres)">
            <label>學校類型</label>
            <span v-for="item in spheres" v-text="item.tw"></span>
        </li>
    </section>
    <picture class="gallery">
        <div class="gallery-container" :style="'width:'+(100*galleryList.length)+'%'" ::style="'getGalleryContainerStyle()'">
            <img :src="item" v-for="item in galleryList" :style="'width:'+(100/galleryList.length)+'%'" />
        </div>
        <button class="prev" :@click="'onGalleryArrowPrevClick()'" :v-if="'galleryIndex>0'"></button>
        <button class="next" :@click="'onGalleryArrowNextClick()'" :v-if="'galleryIndex<(galleryAmount-1)'"></button>
    </picture>
    <section class="content">
        <template v-if="content">
            <h3>學校介紹</h3>
            <p v-text="content"></p>
        </template>
        <template v-if="courseList&&courseList.length">
            <h3>課程介紹</h3>
            <div class="courses">
                <span v-for="item in courseList">
                    <p v-text="item.name"></p>
                    <p v-text="item.description"></p>
                    <p v-text="'課程對象: '+((item.ta_langs||{}).tw||item.ta)"></p>
                </span>
            </div>
        </template>
        <template v-if="facility">
            <h3>學校設施</h3>
            <div v-text="facility"></div>
        </template>
        <template v-for="item in dorms">
            <h3 v-text="((item.type_langs||{}).tw||item.type)+'類型'"></h3>
            <div class="roomtypes">
                <span v-for="subitem in item.rooms" v-text="(subitem.type_langs||{}).tw||subitem.type"></span>
            </div>
            <h3 v-text="((item.type_langs||{}).tw||item.type)+'設施'"></h3>
            <div v-text="item.facility"></div>
            <h3 v-text="((item.type_langs||{}).tw||item.type)+'服務'"></h3>
            <div v-text="item.service"></div>
        </template>
    </section>
    <section class="agentlist" v-if="agentList&&agentList.length">
        <h2>學校仲介</h2>
        <p>選擇一位仲介來聯繫</p>
        <a :href="'/agent/'+item.seo.slug" v-for="item in agentList">
            <img :src="publicPath+item.profile.avatar_links.q">
            <h4 v-text="item.profile.nickname||(item.profile.last_name+item.profile.first_name)"></h4>
            <p v-text="item.profile.bio"></p>
        </a>
    </section>
</article>