<article>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a :href="'/category/'+slug" v-text="title"></a>
        </li>
    </ul>
    <img :src="cover" />
    <h1 v-text="title"></h1>
    <div v-text="content"></div>
    <aside v-if="recommends.length">
        <h3>推薦</h3>
        <a v-for="item in recommends" :href="'/'+item.slug">
            <img :src="publicPath+item.cover_links.c" />
            <h4 v-text="item.title"></h4>
            <summary v-text="item.excerpt"></summary>
        </a>
    </aside>
</article>