<article>
    <img src="/image/homepage-pic.jpg" />
    <h1>English.Agency 出國遊學、留學的媒合平台</h1>
    <summary>
        以會員學英文、找工作、拼未來和核心理念創立，並且協助媒合更多的英語教育顧問、教學者和機構，將更好的英語服務、國際職涯服務提供 English.Agency 英語職涯網會員。
    </summary>
    <section>
        <h3>資訊推薦</h3>
        <summary>
            找學校、找顧問，幫助你打造你的最佳學習計畫！
        </summary>
        <nav>
            <a href="/schools">
                <img src="/image/index-cate-howeng.png" />
                <label>找學校</label>
            </a>
            <a href="/agents">
                <img src="/image/index-cate-business.png" />
                <label>找顧問</label>
            </a>
        </nav>
    </section>
    <section>
        <h2>合作媒體</h2>
        <span>
            <img src="/image/index-sad-nownews.png" />
        </span>
        <span>
            <img src="/image/index-sad-talk.png" />
        </span>
        <span>
            <img src="/image/index-sad-toeicok.png" />
        </span>
        <span>
            <img src="/image/index-sad-tofelworld.png" />
        </span>
        <span>
            <img src="/image/index-sad-tvbs.png" />
        </span>
    </section>
</article>