<article>
    <header>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a :href="'/'+route" v-text="title"></a>
            </li>
        </ul>
    </header>
    <div v-if="slug==='about-us'">
        <h1>English.Agency 英語職涯網</h1>
        <p>以會員學英文、找工作、拼未來和核心理念創立，並且協助媒合更多的英語教育顧問、教學者和機構，將更好的英語服務、國際職涯服務提供 English.Agency 英語職涯網會員。</p>
        <h2>透過教育創造每個互動的機會</h2>
        <p class="question">Q: 為什麼已經有這麼多的英文學習網站、平台，但是仍然要有 English Agency 的存在呢？</p>
        <p>A: English Agency 認為目前的服務都是單向銷售的，而實際的教育顧問、老師卻很少有一個地方，可以將自己的教學理念、想法在一個有力的管道發散。</p>
        <p>-</p>
        <p class="question">Q: 那麼，是如何幫助教育顧問的呢？</p>
        <p>A: 我們提供教育顧問們個人的品牌形象網站、活動宣傳平台，並且協助教育顧問們做更多的行銷。</p>
        <p>-</p>
        <p class="question">Q: 你們跟一般的教育代辦網站、家教網站有什麼不同呢？</p>
        <p>A: 產品、服務都是公開透明的，我們希望每個來這裡學英文、找學習產品和顧問的會員們，都能獲得最好的教育服務、職涯服務和課程服務</p>
        <p>-</p>
        <p class="question">Q:  你們如何分辨出好的課程服務、職涯服務呢？</p>
        <p>A:  這是一個困難的問題，但是我們相信每個人都有不同適合的學習法，通過講座的舉辦、學校的資訊宣傳、學員的故事分享和“用戶”個人給予教育顧問、老師的評價，作為整體推薦的基礎。</p>
        <p>-</p>
        <p class="question">Q: 我申請加入平台是否需要費用？</p>
        <p>A：我們有免費的申請加入平台列表服務，讓你擁有個人的品牌頁面，如果你想要我們為你行銷，我們則會收取行銷的成效收費，讓平台永續生存，也能讓你獲得更多的曝光。</p>
        <p>-</p>
        <p class="question">Q：什麼樣的機構才可以加入 English.Agency 平台呢？</p>
        <p>A:  只要您是英語顧問產業、人力資源產業、國際實習組織和英語、職涯規劃顧問都可以加入我們！</p>
        <p>-</p>
        <p class="question">Q: 請問如何證明平台的曝光度呢？</p>
        <p>A: 請使用 SimilarWeb 的流量監控來查看網站的曝光度</p>
    </div>
    <div v-if="slug==='service-policy'">
        <h1>服務條款</h1>
        <h2>壹、認知與接受條款</h2>
        <p>English.Agency 英語職涯網服務是職涯力股份有限公司（以下簡稱本公司）依據本條款所提供之服務（以下簡稱「本服務」）。當您使用 English.Agency 時，即表示您已閱讀、瞭解並同意接受本條款之所有內容。若您未滿十八歲，請您在您的家長（或監護人）閱讀、瞭解並同意您將遵守本條款之全部內容後，方得使用 English.Agency 英語職涯網提供之服務。</p>
        <ul>
          <li>您對服務之使用，依本《活動服務條款》構成公司本中斯間具有法律約束力之協議。您應詳閱條款內容。</li>
          <li>使用本服務必須先行同意本條款。如您不接受本條款，則不得使用本服務。</li>
          <li>您瞭解並同意於使用本服務時，您得以「電子文件」作為表示，例如您在各項服務與功能頁面點選同意或確認等功能鍵時，均視為您正式之意思表示。</li>
          <li>本公司可能因服務內容之調整與相關法規之變動，修改或變更本條款之內容，請您隨時檢視本服務條款。如您在任何修改或變更後繼續使用 English.Agency ，即視為您或您的家長（或監護人）已閱讀、瞭解並同意接受修改或變更後的服務條款。</li>
        </ul>
        <h2>貳、雙方權利義務一般條款</h2>
        <h3>會員帳號、密碼及安全</h3>
        <ul>
          <li>申請加入會員時，您應如實提供正確的個人資料。為獲得本服務之某些相關服務，本公司可能要求您提供有關之個人資訊（如身分或聯絡資料），為確保服務登記流程所需或持續使用本服務，若您的個人資料有所變動，請隨時更新。如您提供之個人資料不實或不符現況，本公司保留隨時暫停或終止您使用本服務之權利。</li>
          <li>本服務的使用者帳號和密碼由您自行設定。設定完畢後，您具有妥善保管和保密的義務。本公司將以您設定的使用者帳號和密碼來認證您的身分，您必須為經由這個使用者帳號和密碼所進行的所有行為負責。</li>
          <li>為維護您的權益，請勿將帳號和密碼提供予他人使用；若因您提供帳號和密碼予他人使用而造成任何損失時，本公司將不負擔相關責任。如果您發現您的使用者名稱和密碼可能遭他人盜用，請立即通知本公司。</li>
          <li>本公司遵守 English.Agency 英語職涯網隱私權與個人資料保護政策，並依據相關法令規定將會員資料保密或作相關存取、使用、保存或披露，詳細內容請閱讀本公司的隱私權與個人資料保護政策。此政策亦構成本服務條款之一部分。</li>
        </ul>
        <h3>使用者的守法義務及承諾</h3>
        <li>會員或未註冊為會員之使用者，在使用本服務時，皆應遵守現行法令。您同意並保證不會利用本服務從事侵害他人權益或從事違法之行為，此行為包括但不限於：
          <ul>
            <li>侵害他人名譽、隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利。</li>
            <li>違反依法律或契約所應負之保密義務。</li>
            <li>冒用他人名義使用本服務。</li>
            <li>傳輸或散佈電腦病毒。</li>
            <li>不從事妨礙或者破壞服務（或與服務連接之伺服器及網路）的任何活動。</li>
            <li>其他本公司有正當理由認為不適當之行為。</li>
          </ul>
        </li>
        <li>如果您為他人訂票時，需取得您為其代訂票者之同意；代理他人訂購票券時，蒐集之個人資料切勿超出購票所需，並於完成交易後不得繼續利用。</li>
        <h3>服務更改、更新、暫停或終止</h3>
        <ul>
          <li>English.Agency 英語職涯網 致力於提供最新的服務，為客戶展現最佳的活動平台。您認知並同意， English.Agency 英語職涯網提供服務之形式、性質與軟體版本得不經事先通知您而隨時更換。</li>
          <li>本公司得自行決定（永久或暫時）停止向您或全體用戶提供服務，無須事先通知。</li>
          <li>您得隨時停止使用本服務，在停止使用本服務時，亦無需特別通知本公司。</li>
          <li>如本公司取消您的帳戶資格時， 您即可能無法獲得服務或您的帳戶資料或包含於您的帳戶內之任何檔案或其他內容。</li>
          <li>English.Agency 英語職涯網目前可能未設定您透過服務得發送或接收傳輸之數量或用於提供任何服務之儲存空間上限，但本公司得自行隨時設定與調整該上限。</li>
          <li>本公司對本服務相關軟硬體設備進行搬遷、更換、升級、保養或維修時，得暫停或中斷本服務之部分或全部，並得以網站公告通知；對於因維修或任何不可抗力因素暫停本服務期間造成您所失利益或所受損害（包括直接或間接損害），本公司不負損害賠償責任。</li>
        </ul>
        <h3>終止您與 English.Agency 英語職涯網之關係</h3>
        <p>本條款將持續適用直至根據下述規定由您或本公司終止。如您欲終止與 English.Agency 英語職涯網之法律協議，您得隨時通知本公司 ；或如 English.Agency 英語職涯網向您提供得以關閉您所有服務帳戶之選項，則您得透過關閉該帳戶終止與 English.Agency 英語職涯網之法律協議。</p>
        <h3>智慧財產權</h3>
        <ol>
          <li>English.Agency 英語職涯網所使用之軟體或程式、網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計，均由本公司或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。</li>
          <li>任何人不得逕自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。</li>
          <li>若您欲引用或轉載前述軟體、程式或網站內容，必須依法取得本公司或其他權利人的事前書面同意。</li>
          <li>本公司有權（但無義務）自任何服務中預覽、審閱、標明、過濾、修訂、拒絕或刪除任何或所有內容。</li>
          <li>您暸解在使用本服務時，可能會接觸到您感到冒犯、粗鄙或反感之內容， 故您使用本服務之相關風險概由您自行承擔。</li>
          <li>您同意就您使用本服務時所創作、傳送或展示之任何內容以及您該等行為之後果，包括 English.Agency 英語職涯網可能遭受之任何損失或損害，皆由您自行負責， 本公司對您或任何第三人概不負責。</li>
          <li>尊重智慧財產權是您應盡的義務，如有違反，您應對本公司或其他權利人負損害賠償責任（包括但不限於訴訟費用及律師費用等）及可能之相關刑事責任。</li>
        </ol>
        <h3>廣告</h3>
        <ol>
          <li>部分服務乃由廣告收入支援，並得展示廣告及宣傳內容。該等廣告可針對儲存於本服務之資料內容、透過服務提出詢問，或其他資料為之。</li>
          <li>English.Agency 英語職涯網於服務上所為廣告之方式、模式及範圍得變更之，無須特別通知您。</li>
          <li>您同意 English.Agency 英語職涯網得於本服務上載入該等廣告，作為本公司授予您取得及使用服務之權利之對價。</li>
        </ol>
        <h3>其他內容</h3>
        <ol>
          <li>服務可能包含對其他網站、內容或資源之超連結。本公司可能無法控制由  English.Agency 英語職涯網以外之公司或個人所提供之任何網站或資源。</li>
          <li>English.Agency 英語職涯網不對該等外部網站或資源之可用性負責，亦不加以認可該等網路或資源上或自該等網站或資源獲得之任何廣告、產品或其他材料。</li>
          <li>若您因為上述外部網站或資源之可用性，或因您信賴該等網站或資源上或您由該等網站或資源獲得之任何廣告、產品或其他資料之完整性、準確性或存在，致使發生任何損失或損害時， 本公司概不負責。</li>
        </ol>
        <h2>肆、一般條款</h2>
        <h3>契約效力</h3>
        <ol>
          <li>本條款構成您與本公司之間有關使用本服務及購票之契約。</li>
          <li>本條款的任何約定之全部或一部分如被認定無效時，並不影響其他約定的效力。</li>
          <li>本契約內容已經您審閱一日以上時間。若您不同意本條款之任何一部分，請勿使用本服務。</li>
        </ol>
        <h3>準據法與管轄法院</h3>
        <p>本服務條款之解釋與適用，以及與本服務條款有關的爭議，均應依照中華民國法律予以處理，並以台灣台北地方法院為第一審管轄法院。</p>
    </div>
    <div v-if="slug==='privacy-policy'">
        <h1>隱私權與個人資料保護政策</h1>
        <p>職涯力股份有限公司（English.Agency 英語職涯網服務提供者，以下稱「我們」）感謝您的信賴，我們非常重視您的個人資料保護，且遵循隱私權保護及《個人資料保護法》之相關法令規定。以下是我們的隱私權與個人資料保護政策（以下稱「本政策」），包括我們會蒐集哪些個人資料與如何使用，以及說明與您隱私相關的其他事項。當您開始使用 English.Agency 英語職涯網服務時，表示您認同本政策，亦同意受本政策保護。</p>
        <h2>壹、我們收集的個人資料和其他資料</h2>
        <ol>
          <li>當您註冊成為 English.Agency 英語職涯網會員時，需登入名稱以及電子郵件信箱。若您使用 Facebook、Gmail 或其他網站（以下稱「第三方網站」）註冊成為 English.Agency 會員時，即同意我們蒐集您於第三方網站帳號的身分資料以及其他資料，包括您的姓名、個人資料圖片、國籍、電子郵件信箱、出生年月日、性別、朋友的姓名等。我們可能需要驗證您提供的資料與該第三方網站所載資料一致，並根據本政策儲存與使用上述資料（以下稱「個人資料」）。</li>
          <li>當您報名 English.Agency 英語職涯網的活動時，根據主辦單位的需要及活動性質，我們可能要求您提供姓名、身分證字號、出生年月日、地址、電話號碼、電子郵件信箱、性別、休閒活動或興趣、職業，或其他相關資料（以下稱「活動個資」）。</li>
          <li>當您使用 English.Agency 英語職涯網網站時，我們可能會蒐集：
          <ul>
            <li>您在 English.Agency 英語職涯網的資料，包含您的使用紀錄、搜尋紀錄等。</li>
            <li>技術資料，包含URL、IP地址、瀏覽器類型、作業系統資料、語言、造訪時間與地點等，我們可能透過 cookie 取得這些資料，以提供網頁上的各種功能。（以下稱「使用與技術資料」）</li>
          </ul>
          </li>
          <li>為提供您正確、迅速的服務，當您使用 English.Agency 英語職涯網服務時（例如申請帳戶異動、提供建議，或參與我們的行銷活動等)，您需要提供會員帳號資料、個人聯繫方式或其他資訊，以供個人資料與活動個資的核實與聯繫。</li>
          <li>我們將整合您的使用與技術資料，以及您個人資料中的非個人識別資訊。這些整合資訊在共同處理之下，將視同您的個人資料作業。</li>
        </ol>
        <h2>貳、我們如何使用您的資訊</h2>
        <ol>
          <li>我們收集到您的個人資料、使用與技術資料、活動個資等，將使用於以下服務：
            <ul>
              <li>您所提供的個人資料，將用來識別會員身分、與您聯繫、完成交易、寄送收據、通知行銷活動、提供 English.Agency 英語職涯網服務或其他與 English.Agency 英語職涯網服務相關的更新通知。</li>
              <li>我們將利用您的個人資料，寄送電子報及不定期的行銷活動通知。若您不希望收到任何電子報或行銷活動通知，可隨時登入帳戶取消訂閱。如您有任何設定上的問題，歡迎與我們客服聯繫。</li>
              <li>您在 English.Agency 英語職涯網的個人資料、使用與技術資料及其他相關資料，將提供我們改善 English.Agency 英語職涯網服務、開發新服務，與會員溝通之用，包括內部稽核、研究、分析等。</li>
              <li>您的活動個資將交付活動主辦單位，由活動主辦單位進一步使用於您報名的活動。</li>
              <li>若有需付費票券，我們會徵得您的同意，要求您提供信用卡等付款資訊，透過安全的加密形式進行交易，我們不會儲存任何與您有關的交易帳戶資料。</li>
            </ul>
          </li>
          <li>我們不會將您的個人資料和活動個資使用於本政策所未明訂之目的，或將您的個人資料和活動個資提供無關的第三方，除非有額外需求並經過您的同意。</li>
          <li>我們可能與第三方共用綜合性的非個人資料。「綜合性非個人資料」為記錄有關用戶並被分組收集的資料，這些資料已不再反映或可識別出特定的使用者。</li>
          <li>上述資訊之處理與利用，可能由我們之關係企業或其他合作夥伴進行，或於境外發生。我們不會將您的個人資料或活動個資做其他用途，除非當地法律另有規定。我們不會未經您事先同意向第三者透露您的個人資料，但因國家重大利益或為配合執法機關調查且根據法律而需要透露者除外。</li>
        </ol>
        <h2>參、您可以如何使用您的資訊</h2>
        <ol>
          <li>您本人可透過登入 English.Agency 英語職涯網查詢、檢視、變動、更新，或複製屬於您的個人資料；若您非會員或我們無法驗證您的會員身分時，您必須提供相關個人資料，讓我們得以協助您處理查詢、檢視、變動、更新，或複製您的個人資料及帳號。</li>
          <li>您本人可要求終止使用或刪除您的個人資料；但一經終止或刪除，您將無法繼續使用本網站 English.Agency English.Agency 英語職涯網服務。</li>
          <li>若您提出變動、更新或刪除您的個人資料的請求，有妨害國家重大利益、妨害公務機關執行法定職務、妨害第三人重大利益之虞，我們有權拒絕您的請求。</li>
        </ol>
        <h2>肆、個人資料安全</h2>
        <ol>
          <li>您的個人資料與活動個資將儲存於我們的伺服器。為確保您的隱私，我們會採取必要之技術及措施保護您的個人資料與活動個資。僅於必要知悉的情況下，我們的員工、代理人及活動主辦單位方得使用您的個人資訊與活動個資。</li>
          <li>我們僅基於上述目的儲存您的個人資料。因此，我們將在您終止使用 English.Agency 英語職涯網服務時刪除您的個人資料。</li>
          <li>我們僅於提供您所報名活動相關資訊與服務期間內儲存您的活動個資。</li>
          <li>您的個人資料與活動個資，請務必妥善保管。於個人或他人、公用電腦/電子裝置上使用我們的線上服務後，必要時請登出或關閉App/軟體與瀏覽器視窗，以免您的個人資料與活動個資遭人盜用。</li>
          <li>您的付款資訊（含信用卡資料），請務必妥善保管，切勿告知他人。</li>
          <li>English.Agency 英語職涯網有可能包含其他非我們網站或網頁連結與視窗，若您提供該網站您的個人資料，我們不負任何責任。</li>
          <li>您同意在 English.Agency 英語職涯網相關網站進行消費時所使用的資料與事實相符，如嗣後發現你的個人資料或活動個資遭他人非法使用或有任何異常時，應主動通知我們。</li>
          <li>您同意於使用 English.Agency 英語職涯網服務時，所提供與使用之資料皆為合法，並無侵害第三人權利、違反第三方協議或涉及任何違法行為。如因使用 English.Agency 服務而致第三人損害，除我們故意或重大過失外，我們不負擔相關賠償責任。</li>
        </ol>
        <h2>伍、隱私權與個人資料保護政策之修訂與效力</h2>
        <ol>
          <li>我們將不定時更新本政策，並遵循當地隱私權與個人資料保護相關法令，當我們做出重大修改時，會於官方網站公布相關事宜。</li>
          <li>本隱私權與個人資料保護政策構成 English.Agency 英語職涯網使用條款的一部分。如您不同意本政策之任何條款或修改變更之內容，請您立即停止使用 English.Agency 英語職涯網服務。</li>
          <li>如果您對我們的隱私權或個人資料保護政策有任何問題，請聯絡 info@english.agency。</li>
        </ol>
    </div>
    <div v-if="slug==='家教合作申請' ||slug==='%E5%AE%B6%E6%95%99%E5%90%88%E4%BD%9C%E7%94%B3%E8%AB%8B'">
        <div id="join_us" class="tutor_page">
            <header>
                <h1>在英文教育市場中脫穎而出，現在就建立你的教學事業</h1>
                <h2>建網站、增曝光，學生源源不絕</h2>
                <a class="btn join-us-cta-btn" href="javascript:void(0)" data-binding="form_system" data-form="47">立刻加入，建立你的英語教育事業</a>
            </header>
            <section class="text-image-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <h3 class="section-title">搶佔O2O商機</h3>
                            <h4 class="section-subtitle">打造「你」的英文教育品牌</h4>
                            <p>台灣英語教育市場高達400億以上，你擁有一席之地嗎？</p>
                            <p>在數位新時代，傳統的家教網讓你難以「被看見」，你需要鮮明的「個人品牌」平台。行銷與管理交給我們，英文教學交給你！</p>
                        </div>
                        <div class="col-md-7">
                            <img class="img-responsive center-block" src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/o-2-o.png" alt="搶佔O2O商機" title="搶佔O2O商機">
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-title-text-items-section">
                <div class="container">
                    <div class="row">
                        <h2>加入我們，領航英語教育</h2>
                        <div class="col-md-4 col-sm-4">
                            <div class="image-title-text-item">
                                <img class="img-responsive center-block" src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/group-2.png" alt="學生源源不絕" title="學生源源不絕">
                                <h4>學生源源不絕</h4>
                                <p>English Agency 致力於吸引大量對英文學習有興趣者加入社群，並且為您的服務創造更多曝光！</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="image-title-text-item">
                                <img class="img-responsive center-block" src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/group-4.png" alt="「你」就是品牌" title="「你」就是品牌">
                                <h4>「你」就是品牌</h4>
                                <p>建立個人官網與品牌 ，讓你自己在網路發聲 、建立口碑，成為學生心中第一選擇！</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="image-title-text-item">
                                <img class="img-responsive center-block" src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/group-3.png" alt="讓行銷變得超簡單" title="讓行銷變得超簡單">
                                <h4>讓行銷變得超簡單</h4>
                                <p>協助建立網站 、行銷活動頁面，都超簡單！擁有自己的活動社群，創造你的專屬回客！</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-title-border-text-items-section">
                <div class="container">
                    <div class="row">
                        <h2>現在就加入EA社群 ，立刻享有三大服務</h2>
                        <h3>曝光工具、會員行銷與註冊管理一條龍，免費掌握手中！</h3>
                        <div class="col-md-4">
                            <div class="image-title-border-text-item">
                                <img class="img-responsive center-block" src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/member-marketing.png" alt="免費個人頁面、活動頁面和曝光" title="免費個人頁面、活動頁面和曝光">
                                <h4>免費個人頁面、活動頁面和曝光</h4>
                                <p>免費的個人頁面建立，讓您立刻擁有自己的品牌和網站 ,「你」就是最強大的自媒體 。建立你專屬的活動頁面 ，成為學生心目中的優質教育顧問，用你的專業經驗，引領學生走向國際舞台！</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="image-title-border-text-item">
                                <img class="img-responsive center-block" src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/student-management.png" alt="學生註冊 、管理系統" title="學生註冊 、管理系統">
                                <h4>學生註冊 、管理系統</h4>
                                <p>清楚的學生名單 、客戶管理系統，協助你發掘未來的潛在學生們，掌握客群動態與趨勢，藉由清楚的行政流程來往 ，讓管理成為你的行銷利器！</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="image-title-border-text-item">
                                <img class="img-responsive center-block" src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/member-market.png" alt="會員行銷" title="會員行銷">
                                <h4>會員行銷</h4>
                                <p>免費取得對 English Agency 會員的行銷機會。我們負責找到英文教育市場的潛在客群，你負責教好英文、累積教學口碑 。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="cta-section">
                <div class="container">
                    <h2>我要加入 EA 英語職涯網社群</h2>
                    <p>透過豐厚語言力幫助學生向上提升是你的最大武器，在家教市場的藍海中創造自品牌，
                        <br>行銷你的英文教學，讓學生自動找上門，又能彈性安排工作與生活，讓家教工作成為你驕傲的職涯重心。</p>
                    <div>
                    <a class="btn join-us-cta-btn" href="javascript:void(0)" data-binding="form_system" data-form="47">立刻加入，建立你的英語教育事業</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    
    <div v-if="slug==='教育顧問合作申請' ||slug==='%E6%95%99%E8%82%B2%E9%A1%A7%E5%95%8F%E5%90%88%E4%BD%9C%E7%94%B3%E8%AB%8B'">
        <div id="join_us" class="consultant_page">
            <header>
                <h1>加入全台最大的 School Network，學生找上門！</h1>
                <h2>建網站、增曝光，專業呈現代辦服務</h2>
                <a class="btn join-us-cta-btn" href="javascript:void(0)" data-binding="form_system" data-form="47">立刻加入，建立你的顧問事業</a>
            </header>
            <section class="text-image-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <h3 class="section-title">全球化教育市場來臨</h3>
                            <h4 class="section-subtitle">海外遊留學服務拼專業</h4>
                            <p>我們致力於打造全世界英文系國家的遊留學平台，包含學生欲申請目標學校的中文介紹。我們提供服務，您提供海外遊留學的代辦專業經驗，共同讓台灣學子順利走向國際舞台。</p>
                        </div>
                        <div class="col-md-7">
                            <img class="img-responsive center-block" src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/o-2-o.png" alt="全球化教育市場來臨" title="全球化教育市場來臨">
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-title-text-items-section">
                <div class="container">
                    <div class="row">
                        <h2>加入我們，佈局全球教育浪潮</h2>
                        <div class="col-md-4 col-sm-4">
                            <div class="image-title-text-item">
                                <img class="img-responsive center-block" src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/group-2.png" alt="學生源源不絕" title="學生源源不絕">
                                <h4>學生源源不絕</h4>
                                <p>English Agency 致力於吸引大量對英文學習有興趣者加入社群，並且為您的服務創造更多曝光！</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="image-title-text-item">
                                <img class="img-responsive center-block" src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/group-4.png" alt="「你」就是品牌" title="「你」就是品牌">
                                <h4>「你」就是品牌</h4>
                                <p>建立個人官網與品牌 ，讓你自己在網路發聲 、建立口碑，成為學生心中第一選擇！</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="image-title-text-item">
                                <img class="img-responsive center-block" src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/group-3.png" alt="讓行銷變得超簡單" title="讓行銷變得超簡單">
                                <h4>讓行銷變得超簡單</h4>
                                <p>協助建立網站 、行銷活動頁面，都超簡單！擁有自己的活動社群，創造你的專屬回客！</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-title-border-text-items-section">
                <div class="container">
                    <div class="row">
                        <h2>現在就加入EA社群 ，立刻享有三大服務</h2>
                        <h3>曝光工具、會員行銷與註冊管理一條龍，免費掌握手中！</h3>
                        <div class="col-md-4">
                            <div class="image-title-border-text-item">
                                <img class="img-responsive center-block" src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/member-marketing.png" alt="免費個人頁面、活動頁面和曝光" title="免費個人頁面、活動頁面和曝光">
                                <h4>免費個人頁面、活動頁面和曝光</h4>
                                <p>免費的個人頁面建立，讓您立刻擁有自己的品牌和網站 ,「你」就是最強大的自媒體 。建立你專屬的活動頁面 ，成為學生心目中的優質教育顧問，用你的專業經驗，引領學生走向國際舞台！</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="image-title-border-text-item">
                                <img class="img-responsive center-block" src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/student-management.png" alt="學生詢問 、管理系統" title="學生詢問 、管理系統">
                                <h4>學生詢問 、管理系統</h4>
                                <p>清楚的學生名單 、客戶管理系統，協助你發掘未來的潛在客戶，掌握客群動態與趨勢，藉由清楚的行政流程來往 ，讓每個顧問都能專注學生的諮詢和服務 ！</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="image-title-border-text-item">
                                <img class="img-responsive center-block" src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/school-connect.png" alt="全球學校資源一次串接" title="全球學校資源一次串接">
                                <h4>全球學校資源一次串接</h4>
                                <p>我們是全球最大的英語系國家遊留學推廣社群。築起你與想到世界各地求學進修學子間的橋梁，為他們圓夢，為您創造機會。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="cta-section">
                <div class="container">
                    <h2>我要加入 EA 英語職涯網社群</h2>
                    <p>精準瞭解學生需求與導引方向是你的最大武器，在留遊學市場的藍海中創造自品牌，
                        <br>讓學生自動找上門，並且條理安排諮詢管理，為更多學生確立學涯職涯方向，讓遊留學顧問工作成為你驕傲的職涯大事紀。</p>
                    <div>
                    <a class="btn join-us-cta-btn" href="javascript:void(0)" data-binding="form_system" data-form="47">立刻加入，宣傳你的代辦服務</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    
    <div v-if="slug==='媒體合作申請' ||slug==='%E5%AA%92%E9%AB%94%E5%90%88%E4%BD%9C%E7%94%B3%E8%AB%8B'">
        <div id="join_us" class="media_page">
            <header>
                <h1>啟動「全球教育 • 國際職涯」新思維、新觀點</h1>
                <h2>寫眼光、投經歷，展望學習新視野</h2>
                <a class="btn join-us-cta-btn" href="javascript:void(0)" data-binding="form_system" data-form="47">我要投稿</a>
            </header>
            <section class="text-image-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <h3 class="section-title">英語教育新觀點</h3>
                            <h4 class="section-subtitle">啟發社會新想法</h4>
                            <p>EA 英語職涯網致力於國際化教育，希望讓台灣青年世代擁有三力：英語力、國際力和職涯力，進而在全球化市場的競爭時代中，擁有與世界爭鋒的實力。</p>
                            <p>您對英文學習、國際職涯的新觀點、新想法，將能讓我們一起為教育環境激盪出更多火花，著眼全球市場。</p>
                        </div>
                        <div class="col-md-7">
                            <img class="img-responsive center-block" src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/media_feature_image.png" alt="英語教育新觀點" title="啟發社會新想法">
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-title-border-text-items-section">

                <div class="container tow-box">
                    <div class="row">
                        <h2>合作方式</h2>
                        <div class="col-md-6">
                            <div class="image-title-border-text-item">
                                <img class="img-responsive center-block" src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/editor.png" alt="個人編輯（寫手）" title="個人編輯（寫手）">
                                <h4>個人編輯（寫手）</h4>
                                <p>你的時間、觀點和經驗是有價的，我們用您文章獲得的分享、點閱率，作為支付的依據。您的內容將在全球最大的英語系國家遊留學平台曝光，為教育帶來更多新啟發。</p>
                                <div class="text-center">
                                    <a href="javascript:void(0);" class="btn btn-ea" data-binding="form_system" data-form="47">取得合作細節</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="image-title-border-text-item">
                                <img class="img-responsive center-block" src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/enterprise.png" alt="機構 / 單位 / 企業的媒體合作" title="機構 / 單位 / 企業的媒體合作">
                                <h4>機構 / 單位 / 企業的媒體合作</h4>
                                <p>我們相信，好的內容必須互相傳遞、影響，發揮最大的加乘效果。我們希望與您討論內容合作的機會與方式，共同提升台灣青年的英語力、國際力和職涯力！</p>
                                <div class="text-center">
                                    <a href="javascript:void(0);" class="btn btn-ea" data-binding="form_system" data-form="47">諮詢媒體合作</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="section-cooperater container">
                <h3 class="text-center">合作夥伴</h3>
                <div class="section-cooperater-items">
                    <div class="section-cooperater-item">
                        <img src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/gcda-logo.png" alt="GCDA 國際職涯協會 Logo">
                    </div>
                    <div class="section-cooperater-item">
                        <img src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/toeicok-logo.png" alt="TOEIC ok Logo">
                    </div>
                    <div class="section-cooperater-item">
                        <img src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/tofel-world-logo.png" alt="TOFEL World Logo">
                    </div>


                    <div class="section-cooperater-item">
                        <img src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/talk-logo.png" alt="英語滔客 Logo">
                    </div>

                    <div class="section-cooperater-item">
                        <img src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/tvbs_logo.png" alt="tvbs_旅食樂" title="tvbs_旅食樂">
                    </div>

                    <div class="section-cooperater-item">
                        <img src="https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/now_news_logo.png" alt="now_News 旅食樂" title="now_News 旅食樂">
                    </div>
                </div>
            </section>
        </div>
    </div>
</article>