<nav class="cmsmenu" :class="getMenuClass()">
    <template v-if="tokenUser.status==='enable'">
        <a href="#/" :class="{'work':(route==='cms')}">個人中心</a>
        <a href="#/schoollist" :class="{'work':(route==='cmsschoollist')}" v-if="((tokenUser.rolelist||[]).indexOf('editor')>=0)">學校列表</a>
        <a href="#/agentlist" :class="{'work':(route==='cmsagentlist')}" v-if="((tokenUser.rolelist||[]).indexOf('editor')>=0)">顧問列表</a>
        <a href="#/essaylist" :class="{'work':(route==='cmsessaylist')}" v-if="((tokenUser.rolelist||[]).indexOf('editor')>=0)&&false">文章列表</a>
    </template>
    <template v-if="tokenUser.status==='init'">
        <a href="#/" :class="{'work':(route==='cms')}">個人中心 (驗證身份)</a>
    </template>
    <div class="cms-mobile-menu" @click="onCmsMobileMenu()"></div>
</nav>