<section class="course coursecreate">
    <header>
        <h1>新增課程</h1>
        <nav>
            <a :href="'#/school/'+cmsSchoolID">返回</a>
            <button @click="onCourseCreateClick()">送出</button>
        </nav>
    </header>
    <section class="form">
        <li>
            <label>名稱</label>
            <input type="text" v-model="courseName" placeholder="課程名稱" />
        </li>
        <li>
            <label>說明</label>
            <textarea v-model="courseExcerpt" placeholder="課程說明"></textarea>
        </li>
        <li>
            <label>族群</label>
            <select v-model="courseTA">
                <option>parent-child</option>
                <option>middle</option>
                <option>senior</option>
                <option>bachelor</option>
                <option>master</option>
                <option>doctoral</option>
                <option>adult</option>
            </select>
        </li>
    </section>
</section>