<section class="recommendlist" v-if="!cmsmodify">
    <header>
        <h2>見證列表</h2>
        <nav>
            <a :href="'#/recommendcreate'+'?agent='+agentID">新增見證</a>
        </nav>
    </header>
    <section class="listtable">
        <li v-for="item in recommendList">
            <a :href="'#/recommend/'+item.id+'?agent='+agentID">
                <span v-text="item.title"></span>
                <small v-text="item.updated_at"></small>
            </a>
        </li>
    </section>
</section>