<section class="profile" :class="{'modify':cmsprofilemodify}">
    <header>
        <h1>個人中心</h1>
        <nav>
            <button v-if="(tokenUser.status==='enable')&&!cmsprofilemodify" @click="onProfileModifyClick()">編輯</button>
            <button v-if="cmsprofilemodify" @click="onProfileModifyClick()">取消</button>
            <button v-if="cmsprofilemodify" @click="onProfileReformClick()">完成更新</button>
        </nav>
    </header>
    <div>
        <label>信箱</label>
        <p v-text="tokenUser.email"></p>
        <input type="email" v-model="tokenUser.email" disabled />
        <button class="verify" @click="onProfileEmailVerify()" v-if="tokenUser.emailVerified===false">進行驗證</button>
        <button @click="onProfileEmailSend()" v-if="tokenUser.emailVerified===false">重發驗證信</button>
    </div>
    <div>
        <label>姓名</label>
        <p v-text="tokenUser.lastName+' '+tokenUser.firstName"></p>
        <input type="text" v-model="tokenUser.lastName" placeholder="姓氏" />
        <input type="text" v-model="tokenUser.firstName" placeholder="名字" />
    </div>
    <div v-if="tokenUser.status==='enable'">
        <label>暱稱</label>
        <p v-text="tokenUser.nickname"></p>
        <input type="text" v-model="tokenUser.nickname" />
    </div>
    <div>
        <label>電話</label>
        <p v-text="tokenUser.phone"></p>
        <input type="tel" v-model="tokenUser.phone" disabled />
        <button class="verify" @click="onProfilePhoneVerify()" v-if="tokenUser.phoneVerified===false">進行驗證</button>
        <button @click="onProfilePhoneSend()" v-if="tokenUser.phoneVerified===false">重發驗證信</button>
    </div>
    <div v-if="tokenUser.status==='enable'">
        <label>簡介</label>
        <p v-text="tokenUser.bio"></p>
        <textarea v-model="tokenUser.bio"></textarea>
    </div>
    <div>
        <small>服務信箱： info@english.agency</small>
    </div>
</section>