<section class="recommend recommendcreate">
    <header>
        <h1>見證建立</h1>
        <nav>
            <a :href="'#/agent/'+agentID">返回</a>
            <button @click="onCreateClick()">送出</button>
        </nav>
    </header>
    <section class="form">
        <li>
            <h3>名稱</h3>
            <input type="text" v-model="recommendDatum.title" />
        </li>
        <li>
            <h3>說明</h3>
            <textarea v-model="recommendDatum.excerpt"></textarea>
        </li>
        <li class="picture cover">
            <h3>照片</h3>
            <input type="file" @change="onImageChange($event)"/>
            <img :src="recommendDatum.imageURL" />
        </li>
        <li>
            <h3>照片標題</h3>
            <input type="text" v-model="recommendDatum.imageTitle" />
        </li>
        <li>
            <h3>照片註明</h3>
            <input type="text" v-model="recommendDatum.imageAlt" />
        </li>
    </section>
</section>