<section class="skilllist" v-if="!cmsmodify">
    <header>
        <h2>專長列表</h2>
        <nav>
            <a :href="'#/skillcreate'+'?agent='+agentID">新增專長</a>
        </nav>
    </header>
    <section class="listtable">
        <li v-for="item in skillList">
            <a :href="'#/skill/'+item.id+'?agent='+agentID">
                <span v-text="item.title"></span>
                <small v-text="item.updated_at"></small>
            </a>
        </li>
    </section>
</section>