<section class="agent">
    <header>
        <h1>顧問建立</h1>
        <nav>
            <a href="#/agentlist">返回</a>
            <button @click="onCreateClick()">送出</button>
        </nav>
    </header>
    <section class="form">
        <li>
            <h3>信箱</h3>
            <input type="email" v-model="agentDatum.email" placeholder="顧問帳號" />
            <small>( 建立後將認定為已驗證信箱並無法再做更改 )</small>
        </li>
        <li>
            <h3>密碼</h3>
            <input type="password" v-model="agentDatum.password" placeholder="顧問密碼" />
        </li>
        <li>
            <h3>電話</h3>
            <input type="tel" v-model="agentDatum.phone" placeholder="顧問電話" />
            <small>( 建立後將認定為已驗證信箱並無法再做更改 )</small>
        </li>
        <li>
            <h3>姓名</h3>
            <input type="text" v-model="agentDatum.lastname" placeholder="顧問姓氏" />
            <input type="text" v-model="agentDatum.firstname" placeholder="顧問名字" />
        </li>
        <li>
            <h3>暱稱</h3>
            <input type="text" v-model="agentDatum.nickname" placeholder="顧問暱稱" />
        </li>
        <li class="avatar cover">
            <h3>頭像</h3>
            <input type="file" @change="onAvatarChange($event)"/>
            <img :src="agentDatum.avatarURL" />
        </li>
        <li>
            <h3>頭像標題</h3>
            <input type="text" v-model="agentDatum.avatarTitle" placeholder="頭像標題" />
        </li>
        <li>
            <h3>頭像註明</h3>
            <input type="text" v-model="agentDatum.avatarAlt" placeholder="頭像註明" />
        </li>
        <li>
            <h3>SLUG</h3>
            <input type="text" v-model="agentDatum.slug" placeholder="顧問位址" />
        </li>
        <li>
            <h3>簡介</h3>
            <textarea v-model="agentDatum.bio" placeholder="顧問簡介"></textarea>
        </li>
        <li>
            <h3>經驗</h3>
            <input type="text" v-model="agentDatum.experience" placeholder="顧問經驗" />
        </li>
        <li>
            <h3>專長</h3>
            <input type="text" v-model="agentDatum.speciality" placeholder="顧問專長" />
        </li>
        <li>
            <h3>資歷</h3>
            <input type="number" v-model="agentDatum.seniority" placeholder="顧問資歷" />
        </li>
        <li>
            <h3>服務國家</h3>
            <div class="multilabel">
                <label v-for="item in targetCountryList">
                    <input type="checkbox" v-model="agentDatum.targetCountryCodes" :value="item.code" />
                    <span v-text="(item.code_langs||{}).tw||item.code"></span>
                </label>
            </div>
        </li>
        <li>
            <h3>地區</h3>
            <div class="multilabel">
                <label v-for="(item, key) in locationDictionary">
                    <input type="checkbox" v-model="agentDatum.locationCodes" :value="key" />
                    <span v-text="item.tw||key"></span>
                </label>
            </div>
        </li>
    </section>
</section>