<section class="dorm dormcreate">
    <header>
        <h1>新增住宿</h1>
        <nav>
            <a :href="'#/school/'+cmsSchoolID">返回</a>
            <button @click="onCreateClick()">送出</button>
        </nav>
    </header>
    <section class="form">
        <li>
            <label>類型</label>
            <strong v-text="dormType"></strong>
        </li>
        <li>
            <label>服務</label>
            <input type="text" v-model="dormService" placeholder="住宿服務" />
        </li>
        <li>
            <label>設施</label>
            <input type="text" v-model="dormFacility" placeholder="住宿設施"/>
        </li>
        <li>
            <label>房間</label>
            <table>
                <thead>
                    <tr>
                        <th>房型</th>
                        <th>無障礙設施</th>
                        <th>吸菸</th>
                        <th>刪除</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in dormRoomList">
                        <td>
                            <select v-model="item.type">
                                <option v-for="subitem in ROOM_TYPE_DICTIONARY" :value="subitem" v-text="subitem"></option>
                            </select>
                        </td>
                        <td>
                            <input type="checkbox" v-model="item.accessible" />
                        </td>
                        <td>
                            <input type="checkbox" v-model="item.smoking" />
                        </td>
                        <td>
                            <button @click="onRoomDeleteClick(index)">-</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <select v-model="dormDefaultRoomType">
                                <option value="">--- 選擇房型以新增 ---</option>
                                <option v-for="subitem in ROOM_TYPE_DICTIONARY" :value="subitem" v-text="subitem"></option>
                            </select>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </li>
    </section>
</section>