<section class="schoollist">
    <header>
        <h1>學校列表</h1>
        <nav>
            <a href="#/schoolcreate">新增學校</a>
        </nav>
    </header>
    <section class="schooltable">
        <li v-for="item in cmsSchoolList">
            <a :href="'#/school/'+item.id">
                <span v-text="item.name"></span>
                <small v-text="item.updated_at"></small>
            </a>
        </li>
    </section>
</section>