<section class="dorm modifiable" :class="{'modify':cmsmodify}">
    <header>
        <h1>新增住宿</h1>
        <nav>
            <a :href="'#/school/'+cmsSchoolID">返回</a>
            <button v-if="(tokenUser.status==='enable')&&!cmsmodify" @click="onModifyClick()">編輯</button>
            <button v-if="cmsmodify" @click="onModifyCancel()">取消</button>
            <button v-if="cmsmodify" @click="onUpdateClick()">完成更新</button>
        </nav>
    </header>
    <section class="form">
        <li>
            <label>類型</label>
            <strong v-text="dormTypeLocale||dormType"></strong>
        </li>
        <li>
            <label>服務</label>
            <p v-text="dormService"></p>
            <input type="text" v-model="dormService" placeholder="住宿服務" />
        </li>
        <li>
            <label>設施</label>
            <p v-text="dormFacility"></p>
            <input type="text" v-model="dormFacility" placeholder="住宿設施"/>
        </li>
        <li>
            <label>房間</label>
            <ul>
                <li v-for="item in dormRoomList">
                    <span v-text="(item.type_langs||{}).tw||item.type"></span>
                    <small v-if="item.accessible">無障礙設施</small>
                    <small v-if="item.smoking">吸菸</small>
                </li>
            </ul>
            <table>
                <thead>
                    <tr>
                        <th>房型</th>
                        <th>無障礙設施</th>
                        <th>吸菸</th>
                        <th>刪除</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in dormRoomList">
                        <td>
                            <select v-model="item.type">
                                <option v-for="subitem in ROOM_TYPE_DICTIONARY" :value="subitem" v-text="subitem"></option>
                            </select>
                        </td>
                        <td>
                            <input type="checkbox" v-model="item.accessible" />
                        </td>
                        <td>
                            <input type="checkbox" v-model="item.smoking" />
                        </td>
                        <td>
                            <button @click="onRoomDeleteClick(index)">-</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <select v-model="dormDefaultRoomType">
                                <option value="">--- 選擇房型以新增 ---</option>
                                <option v-for="subitem in ROOM_TYPE_DICTIONARY" :value="subitem" v-text="subitem"></option>
                            </select>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </li>
    </section>
</section>