<section class="dormlist" v-if="!cmsmodify">
    <header>
        <h2>住宿列表</h2>
        <nav>
            <a :href="'#/dormcreate/dorm'+'?school='+slug" v-if="!confirmExist('dorm')">新增宿舍</a>
            <a :href="'#/dormcreate/hotel'+'?school='+slug" v-if="!confirmExist('hotel')">新增飯店</a>
            <a :href="'#/dormcreate/homestay'+'?school='+slug" v-if="!confirmExist('homestay')">新增寄宿</a>
        </nav>
    </header>
    <section class="listtable">
        <li v-for="item in cmsDormList">
            <a :href="'#/dorm/'+item.id+'?school='+slug">
                <span v-text="item.type_langs.tw||item.type"></span>
                <small v-text="item.updated_at"></small>
            </a>
        </li>
    </section>
</section>