<section class="school schoolcreate">
    <header>
        <h1>新增學校</h1>
        <nav>
            <a href="#/schoollist">返回</a>
            <button @click="onCreateClick()">送出</button>
        </nav>
    </header>
    <section class="form">
        <li>
            <label>名稱</label>
            <input type="text" v-model="schoolformName" placeholder="學校名稱" />
        </li>
        <li>
            <label>名稱 (meta)</label>
            <input type="text" v-model="schoolformNameMETA" placeholder="學校名稱" />
        </li>
        <li>
            <label>名稱 (og)</label>
            <input type="text" v-model="schoolformNameOG" placeholder="學校名稱" />
        </li>
        <li>
            <label>網址名稱</label>
            <input type="text" v-model="schoolformSlug" placeholder="符號僅限''-''並不許空格" />
        </li>
        <li>
            <label>詳文介紹</label>
            <textarea v-model="schoolformInner" placeholder="學校介紹詳文"></textarea>
        </li>
        <li>
            <label>簡介</label>
            <textarea v-model="schoolformExcerpt" placeholder="學校簡介"></textarea>
        </li>
        <li>
            <label>簡介 (meta)</label>
            <textarea v-model="schoolformExcerptMETA" placeholder="學校簡介"></textarea>
        </li>
        <li>
            <label>簡介 (og)</label>
            <textarea v-model="schoolformExcerptOG" placeholder="學校簡介"></textarea>
        </li>
        <li>
            <label>國家</label>
            <select v-model="filterCountry">
                <option value="" v-if="!filterCountry">--- 選擇國家 ---</option>
                <option v-for="item in filterCountryList" :value="item.id" v-text="(item.code_langs||{}).tw||item.id"></option>
            </select>
        </li>
        <li v-if="filterLocationList&&filterLocationList.length">
            <label>地區</label>
            <select v-model="filterLocation">
                <option value="" v-if="!filterLocation">--- 選擇地區 ---</option>
                <option v-for="item in filterLocationList" :value="item.id" v-text="(item.code_langs||{}).tw||item.id"></option>
            </select>
        </li>
        <li>
            <label>類型</label>
            <select v-model="filterSchooltype">
                <option value="" v-if="!filterSchooltype">--- 選擇類型 ---</option>
                <option v-for="item in filterSchooltypeList" :value="item.id" v-text="(item.code_langs||{}).tw||item.id"></option>
            </select>
        </li>
        <li>
            <label>課程分類</label>
            <div>
                <label v-for="item in filterProgramtypeList">
                    <input type="checkbox" v-model="filterProgramtypeValueArray" :value="item.id" />
                    <span v-text="(item.code_langs||{}).tw||item.id"></span>
                </label>
            </div>
        </li>
        <li v-if="filterProgramtypeValueArray&&filterProgramtypeValueArray.length">
            <label>課程</label>
            <div>
                <template v-for="(hyperitem, key) in filterProgramValueDictionary">
                    <label v-for="item in hyperitem">
                        <input type="checkbox" v-model="filterProgramValueArray" :name="key" :value="item.id" />
                        <span v-text="(item.code_langs||{}).tw||item.id"></span>
                    </label>
                </template>
            </div>
        </li>
        <li>
            <label>對象</label>
            <select v-model="filterProgramta">
                <option value="" v-if="!filterProgramta">--- 選擇對象 ---</option>
                <option v-for="item in filterProgramtaList" :value="item.id" v-text="(item.code_langs||{}).tw||item.id"></option>
            </select>
        </li>
        <li>
            <label>設施</label>
            <input type="text" v-model="schoolformFacility" placeholder="學校設施" />
        </li>
        <li class="cover">
            <label>封面</label>
            <input type="file" @change="onCoverChange($event)"/>
            <img :src="schoolformCoverURL" />
        </li>
        <li>
            <label>封面標題</label>
            <input type="text" v-model="schoolformCoverTitle" placeholder="封面標題" />
        </li>
        <li>
            <label>封面註明</label>
            <input type="text" v-model="schoolformCoverAlt" placeholder="封面註明" />
        </li>
    </section>
</section>