<section class="agentlist">
    <header>
        <h1>顧問列表</h1>
        <nav>
            <a href="#/agentcreate">新增顧問</a>
        </nav>
    </header>
    <section class="listtable">
        <li v-for="item in agentList">
            <a :href="'#/agent/'+item.id">
                <span v-text="item.profile.last_name+' '+item.profile.first_name"></span>
                <small v-text="item.updated_at"></small>
            </a>
        </li>
    </section>
</section>