<section class="picturelist" v-if="!cmsmodify">
    <header>
        <h2>照片列表</h2>
        <nav>
            <button @click="onCreateClick()">新增照片</button>
        </nav>
    </header>
    <section class="picturelist">
        <li v-for="item in schoolPurePictureList">
            <img :src="publicPath+(item.c||item.o)" />
        </li>
    </section>
</section>