<section class="agent modifiable" :class="{'modify':cmsmodify}">
    <header>
        <h1>顧問</h1>
        <nav>
            <a href="#/agentlist">返回</a>
            <button v-if="!cmsmodify&&((agentDatum.rolelist||[]).indexOf('admin')<0)" @click="onModifyClick()">編輯</button>
            <button v-if="cmsmodify" @click="onDeleteClick()">刪除</button>
            <button v-if="cmsmodify" @click="onModifyCancel()">取消</button>
            <button v-if="cmsmodify" @click="onUpdateClick()">完成更新</button>
        </nav>
    </header>
    <section class="form">
        <li>
            <h3>信箱</h3>
            <p v-text="agentDatum.email"></p>
            <input type="email" v-model="agentDatum.email" disabled />
        </li>
        <li v-if="cmsmodify">
            <h3>密碼</h3>
            <p v-text="agentDatum.password"></p>
            <input type="password" v-model="agentDatum.password" />
        </li>
        <li>
            <h3>電話</h3>
            <p v-text="agentDatum.phone"></p>
            <input type="tel" v-model="agentDatum.phone" disabled />
        </li>
        <li>
            <h3>姓名</h3>
            <p>
                <span v-text="agentDatum.lastname"></span>
                <span v-text="agentDatum.firstname"></span>
            </p>
            <input type="text" v-model="agentDatum.lastname" placeholder="姓氏" />
            <input type="text" v-model="agentDatum.firstname" placeholder="名字" />
        </li>
        <li>
            <h3>暱稱</h3>
            <p v-text="agentDatum.nickname"></p>
            <input type="text" v-model="agentDatum.nickname" />
        </li>
        <li class="avatar cover">
            <h3>頭像</h3>
            <input type="file" @change="onAvatarChange($event)"/>
            <img :src="agentDatum.avatarURL" />
        </li>
        <li>
            <h3>頭像標題</h3>
            <p v-text="agentDatum.avatarTitle"></p>
            <input type="text" v-model="agentDatum.avatarTitle" placeholder="頭像標題" />
        </li>
        <li>
            <h3>頭像註明</h3>
            <p v-text="agentDatum.avatarAlt"></p>
            <input type="text" v-model="agentDatum.avatarAlt" placeholder="頭像註明" />
        </li>
        <li>
            <h3>SLUG</h3>
            <p v-text="agentDatum.slug"></p>
            <input type="text" v-model="agentDatum.slug" />
        </li>
        <li>
            <h3>簡介</h3>
            <p v-text="agentDatum.bio"></p>
            <textarea v-model="agentDatum.bio"></textarea>
        </li>
        <li>
            <h3>經驗</h3>
            <p v-text="agentDatum.experience"></p>
            <input type="text" v-model="agentDatum.experience" />
        </li>
        <li>
            <h3>專長</h3>
            <p v-text="agentDatum.speciality"></p>
            <input type="text" v-model="agentDatum.speciality" />
        </li>
        <li>
            <h3>資歷</h3>
            <p v-text="agentDatum.seniority"></p>
            <input type="number" v-model="agentDatum.seniority" />
        </li>
        <li>
            <h3>服務國家</h3>
            <div class="multilabel">
                <label v-for="item in targetCountryList">
                    <input type="checkbox" v-model="agentDatum.targetCountryCodes" :value="item.code" />
                    <span v-text="(item.code_langs||{}).tw||item.code"></span>
                </label>
            </div>
        </li>
        <li>
            <h3>地區</h3>
            <div class="multilabel">
                <label v-for="(item, key) in locationDictionary">
                    <input type="checkbox" v-model="agentDatum.locationCodes" :value="key" />
                    <span v-text="item.tw||key"></span>
                </label>
            </div>
        </li>
    </section>
</section>