<section class="courselist" v-if="!cmsmodify">
    <header>
        <h2>課程列表</h2>
        <nav>
            <a :href="'#/coursecreate'+'?school='+slug">新增課程</a>
        </nav>
    </header>
    <section class="listtable">
        <li v-for="item in cmsCourseList">
            <a :href="'#/course/'+item.id+'?school='+slug">
                <span v-text="item.name"></span>
                <small v-text="item.updated_at"></small>
            </a>
        </li>
    </section>
</section>