<section class="course coursesingle modifiable" :class="{'modify':cmsmodify}">
    <header>
        <h1>課程</h1>
        <nav>
            <a :href="'#/school/'+cmsSchoolID">返回</a>
            <button v-if="(tokenUser.status==='enable')&&!cmsmodify" @click="onModifyClick()">編輯</button>
            <button v-if="cmsmodify" @click="onModifyCancel()">取消</button>
            <button v-if="cmsmodify" @click="onUpdateClick()">完成更新</button>
        </nav>
    </header>
    <section class="form">
        <li>
            <label>名稱</label>
            <p v-text="courseName"></p>
            <input type="text" v-model="courseName" placeholder="課程名稱" />
        </li>
        <li>
            <label>說明</label>
            <p v-text="courseExcerpt"></p>
            <textarea v-model="courseExcerpt" placeholder="課程說明"></textarea>
        </li>
        <li>
            <label>族群</label>
            <p v-text="courseTALocale||courseTA"></p>
            <select v-model="courseTA">
                <option>parent-child</option>
                <option>middle</option>
                <option>senior</option>
                <option>bachelor</option>
                <option>master</option>
                <option>doctoral</option>
                <option>adult</option>
            </select>
        </li>
    </section>
</section>