<section class="recommend recommendsingle modifiable" :class="{'modify':cmsmodify}">
    <header>
        <h1>見證</h1>
        <nav>
            <a :href="'#/agent/'+agentID">返回</a>
            <button v-if="!cmsmodify" @click="onModifyClick()">編輯</button>
            <button v-if="cmsmodify" @click="onDeleteClick()">刪除</button>
            <button v-if="cmsmodify" @click="onModifyCancel()">取消</button>
            <button v-if="cmsmodify" @click="onUpdateClick()">完成更新</button>
        </nav>
    </header>
    <section class="form">
        <li>
            <h3>名稱</h3>
            <p v-text="recommendDatum.title"></p>
            <input type="text" v-model="recommendDatum.title" />
        </li>
        <li>
            <h3>說明</h3>
            <p v-text="recommendDatum.excerpt"></p>
            <textarea v-model="recommendDatum.excerpt"></textarea>
        </li>
        <li class="picture cover">
            <h3>照片</h3>
            <input type="file" @change="onImageChange($event)"/>
            <img :src="recommendDatum.imageURL" />
        </li>
        <li>
            <h3>照片標題</h3>
            <p v-text="recommendDatum.imageTitle"></p>
            <input type="text" v-model="recommendDatum.imageTitle" />
        </li>
        <li>
            <h3>照片註明</h3>
            <p v-text="recommendDatum.imageAlt"></p>
            <input type="text" v-model="recommendDatum.imageAlt" />
        </li>
    </section>
</section>