<section class="skill skillsingle modifiable" :class="{'modify':cmsmodify}">
    <header>
        <h1>專長</h1>
        <nav>
            <a :href="'#/agent/'+agentID">返回</a>
            <button v-if="!cmsmodify" @click="onModifyClick()">編輯</button>
            <button v-if="cmsmodify" @click="onDeleteClick()">刪除</button>
            <button v-if="cmsmodify" @click="onModifyCancel()">取消</button>
            <button v-if="cmsmodify" @click="onUpdateClick()">完成更新</button>
        </nav>
    </header>
    <section class="form">
        <li>
            <h3>名稱</h3>
            <p v-text="skillDatum.title"></p>
            <input type="text" v-model="skillDatum.title" />
        </li>
        <li>
            <h3>說明</h3>
            <p v-text="skillDatum.excerpt"></p>
            <textarea v-model="skillDatum.excerpt"></textarea>
        </li>
        <li class="picture cover">
            <h3>照片</h3>
            <input type="file" @change="onImageChange($event)"/>
            <img :src="skillDatum.imageURL" />
        </li>
        <li>
            <h3>照片標題</h3>
            <p v-text="skillDatum.imageTitle"></p>
            <input type="text" v-model="skillDatum.imageTitle" />
        </li>
        <li>
            <h3>照片註明</h3>
            <p v-text="skillDatum.imageAlt"></p>
            <input type="text" v-model="skillDatum.imageAlt" />
        </li>
    </section>
</section>