<section class="agentbinding" v-if="!cmsmodify">
    <header>
        <h2>顧問綁定</h2>
        <nav>
        </nav>
    </header>
    <section class="listtable">
        <li v-for="item in agentList">
            <a>
                <label>
                    <input type="checkbox" v-model="agentBindingIDArray" :value="item.id" @click="onBindingClick($event, item)" />
                    <span v-text="item.profile.nickname||(item.profile.last_name+item.profile.first_name)"></span>
                </label>
            </a>
        </li>
    </section>
</section>