<main class="cmsview">
    <div class="container">
        <view-cmsprofile v-if="route==='cms'"></view-cmsprofile>
        <view-cmsschoollist v-if="route==='cmsschoollist'"></view-cmsschoollist>
        <view-cmsschoolcreate v-if="route==='cmsschoolcreate'"></view-cmsschoolcreate>
        <view-cmsschoolsingle v-if="route==='cmsschool'"></view-cmsschoolsingle>
        <view-cmspicturelist v-if="route==='cmsschool'"></view-cmspicturelist>
        <view-cmscourselist v-if="route==='cmsschool'"></view-cmscourselist>
        <view-cmscoursecreate v-if="route==='cmscoursecreate'"></view-cmscoursecreate>
        <view-cmscoursesingle v-if="route==='cmscourse'"></view-cmscoursesingle>
        <view-cmsdormlist v-if="route==='cmsschool'"></view-cmsdormlist>
        <view-cmsdormcreate v-if="route==='cmsdormcreate'"></view-cmsdormcreate>
        <view-cmsdormsingle v-if="route==='cmsdorm'"></view-cmsdormsingle>
        <view-cmsagentlist v-if="route==='cmsagentlist'"></view-cmsagentlist>
        <view-cmsagentsingle v-if="route==='cmsagent'"></view-cmsagentsingle>
        <view-cmsagentcreate v-if="route==='cmsagentcreate'"></view-cmsagentcreate>
        <view-cmsagentbinding v-if="route==='cmsschool'"></view-cmsagentbinding>
        <view-cmsskilllist v-if="route==='cmsagent'"></view-cmsskilllist>
        <view-cmsskillsingle v-if="route==='cmsskill'"></view-cmsskillsingle>
        <view-cmsskillcreate v-if="route==='cmsskillcreate'"></view-cmsskillcreate>
        <view-cmsrecommendlist v-if="route==='cmsagent'"></view-cmsrecommendlist>
        <view-cmsrecommendsingle v-if="route==='cmsrecommend'"></view-cmsrecommendsingle>
        <view-cmsrecommendcreate v-if="route==='cmsrecommendcreate'"></view-cmsrecommendcreate>
        <view-cmsessaylist v-if="route==='cmsessaylist'"></view-cmsessaylist>
    </div>
</main>