<section class="fallsview">
    <i v-if="!cardList"></i>
    <label v-text="fallsviewLabel"></label>
    <div class="container">
        <label></label>
        <a class="card" :href="getFallsviewCardUrl(item)" v-for="item in cardList">
            <picture :style="getFallsviewCardCoverStyle(item)"></picture>
            <img :src="getFallsviewCardAvatar(item)" v-if="route==='category'" />
            <h1 v-text="item.name||item.title||item.profile.nickname||(item.profile.last_name+item.profile.first_name)"></h1>
            <small v-text="item.updated_at" v-if="route==='category'"></small>
            <article v-text="item.excerpt"></article>
        </a>
    </div>
</section>