<footer>
    <nav>
        <a href="/about-us">EA 英語職涯網介紹</a>
        <a href="/about-us/service-policy">服務條款</a>
        <a href="/about-us/privacy-policy">隱私權政策</a>
        <a href="https://www.english.agency/">Educational Institution</a>
        <a href="/join-us/家教合作申請">我是家教/補習班</a>
        <a href="/join-us/教育顧問合作申請">我是教育顧問/代辦</a>
        <a href="/join-us/媒體合作申請">媒體合作</a>
    </nav>
    <div>
        <span>服務信箱：info@english.agency</span>
        <span>服務時間：週一至週五 10:00-18:00</span>
    </div>
    <div>
        Copyright © 2017 - 2018 tw.English.Agency
    </div>
</footer>