<header>
    <a class="ealogo" href="/">
        <img src="https://s3-ap-southeast-1.amazonaws.com/event-english-agency/site-images/ea-logo.png" />
    </a>

    <nav ::class="'getMobileMenuClass()'">
        <a class="find-school" href="/schools">找學校</a>
        <a class="find-consultant" href="/agents">找顧問</a>
        <a class="agencyentry" href="/join-us/教育顧問合作申請">教育顧問及代辦</a>
        <button class="subscribe" :@click="'onSubscribeVisiable()'">訂閱</button>
        <button class="login" :@click="'onHeaderLoginClick()'">登入</button>
        <a class="cms" href="/cms/"></a>
        <button class="logout" :@click="'onHeaderLogoutClick()'">登出</button>
    </nav>
    <div class="mobile-menu" :@click="'onMobileMenuVisiable()'">MENU</div>
    <div>
        <div class="subscribeShow" ::class="'getSubscribeClass()'">
            <button class="closeSubscribe" :@click="'onSubscribeVisiable()'"></button>
            <div>
                <span>
                    <input type="text" :v-model="'subscribleName'" placeholder="名字" />
                    <input type="text" :v-model="'subscribleEmail'" placeholder="信箱" />
                    <button :@click="'onSubscribeConfirm()'">訂閱</button>
                </span>
                <span>
                    訂閱更多來自 English Agency 的資訊
                </span>
            </div>
        </div>
    </div>
</header>