<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
        <meta name="robots" content="noodp" />
        <meta name="title" content="{{titleMETA}}" />
        <meta name="description" content="{{exerptMETA}}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://tw.english.agency" />
        <meta property="og:stie_name" content="English.Agency" />
        <meta property="og:title" content="{{titleOG}}" />
        <meta property="og:description" content="{{exerptOG}}" />
        <meta property="fb:admins" content="100000010603810" />
        <meta property="fb:page_id" content="985568048148380" />
        <meta property="fb:app_id" content="1808465192748376" />
        <meta property="twitter:site" content="English.Agency" />
        <title>{{title}}</title>
        <link rel="stylesheet" href="/style/" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="canonical" href="https://tw.english.agency" />
        {{{EXTRA_TAGMNG1_SCRIPT}}}

    </head>

    <body>

        <!--vue-ssr-outlet-->

    </body>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/masonry-layout@4.2.1/dist/masonry.pkgd.min.js"></script>
    <script src="/script/"></script>
    {{{EXTRA_TAGMNG2_SCRIPT}}}
    {{{EXTRA_AGENTFORM_SCRIPT}}}

</html>