<nav class="menu">
    <template v-if="route!=='schools'">
        <label>資訊推薦</label>
        <a href="/schools">找學校</a>
        <a href="/agents">找顧問</a>
        <template v-for="item in hypercategoryList" v-if="false">
            <label v-text="item.title"></label>
            <a :href="'/category/'+subitem.slug" v-for="subitem in item.categories" v-text="subitem.title"></a>
        </template>
    </template>
    <section class="filter" v-if="route==='schools'">
        <strong>地點</strong>
        <select :v-model="'filterCountry'" :@change="'onFilterCountryChange()'">
            <option value="">全部國家</option>
            <option :v-for="'item in filterCountryList'" ::value="'item.id'" :v-text="'(item.code_langs||{}).tw||item.code'"></option>
        </select>
        <select :v-model="'filterLocation'">
            <option value="">全部區域</option>
            <option :v-for="'item in filterLocationList'" ::value="'item.id'" :v-text="'(item.code_langs||{}).tw||item.code'"></option>
        </select>
        <strong>學校類型</strong>
        <select :v-model="'filterSchooltype'">
            <option value="">全部學校類型</option>
            <option :v-for="'item in filterSchooltypeList'" ::value="'item.id'" :v-text="'(item.code_langs||{}).tw||item.code'"></option>
        </select>
        <strong>課程</strong>
        <select :v-model="'filterProgramtype'" :@change="'onFilterProgramtypeChange()'">
            <option value="">全部課程類型</option>
            <option :v-for="'item in filterProgramtypeList'" ::value="'item.id'" :v-text="'(item.code_langs||{}).tw||item.code'"></option>
        </select>
        <select :v-model="'filterProgram'"">
            <option value="">全部課程</option>
            <option :v-for="'item in filterProgramList'" ::value="'item.id'" :v-text="'(item.code_langs||{}).tw||item.code'"></option>
        </select>
        <select :v-model="'filterProgramta'">
            <option value="">全部課程對象</option>
            <option :v-for="'item in filterProgramtaList'" ::value="'item.id'" :v-text="'(item.code_langs||{}).tw||item.code'"></option>
        </select>
    </section>
</nav>