<div class="popup" @click="onPopupClick($event)">
    <section class="login" v-if="popupstats.indexOf('login')>=0">
        <header>
            <h3>登入</h3>
        </header>
        <form action="">
            <label>帳號</label>
            <input type="email" placeholder="account" v-model="loginAccount" />
            <label>密碼</label>
            <input type="password" placeholder="password" v-model="loginPassword" />
            <button type="button" @click="onGotoRegister()">註冊帳號</button>
            <button type="submit" @click="onPopupLoginSubmit($event)"></button>
        </form>
        <footer>
            <button class="cancel">取消</button>
            <button class="confirm" @click="onPopupLoginConfirm()">確認</button>
        </footer>
    </section>
    <section class="register" v-if="popupstats.indexOf('register')>=0">
        <header>
            <h3>註冊</h3>
        </header>
        <form>
            <label>帳號</label>
            <input type="email" v-model="registerAccount" placeholder="e-mail" />
            <label>姓氏</label>
            <input type="text" placeholder="姓" v-model="registerLastname" />
            <label>名字</label>
            <input type="text" placeholder="名" v-model="registerFirstname" />
            <label>電話</label>
            <input type="tel" v-model="registerPhone" placeholder="手機號碼" />
            <label>密碼</label>
            <input type="password" v-model="registerPassword" placeholder="至少8位" />
            <label>確認密碼</label>
            <input type="password" v-model="registerRepassword" placeholder="輸入相同密碼" />
        </form>
        <footer>
            <button class="cancel">取消</button>
            <button class="confirm" @click="onPopupRegisterConfirm()">確認</button>
        </footer>
    </section>
    <section class="prompt" v-if="popupstats.indexOf('prompt')>=0">
        <form>
            <p v-text="popupPromptMessage"></p>
            <input type="text" v-model="popupPromptValue" />
        </form>
        <footer>
            <button class="cancel">取消</button>
            <button class="confirm" @click="onPopupPromptConfirm()">確認</button>
        </footer>
    </section>
    <section class="picture" v-if="popupstats.indexOf('picture')>=0">
        <form>
            <img :src="popupPictureURL" />
        </form>
        <footer>
            <button class="cancel">取消</button>
            <button class="confirm" @click="onPopupPictureConfirm()">確認</button>
        </footer>
    </section>
    <section class="confirm" v-if="popupstats.indexOf('confirm')>=0">
        <form>
            <p v-text="popupConfirmMessage"></p>
        </form>
        <footer>
            <button class="cancel">取消</button>
            <button class="confirm" @click="onPopupConfirmConfirm()">確認</button>
        </footer>
    </section>
    <section class="alert" v-if="popupstats.indexOf('alert')>=0">
        <form>
            <p v-text="popupAlertMessage"></p>
        </form>
        <footer>
            <button class="confirm" @click="onPopupAlertConfirm()">確認</button>
        </footer>
    </section>
    <section class="loading" v-if="popupstats.indexOf('loading')>=0"></section>
</div>