.app.essay section.boardview article .author {
    position: relative;
}

.app.essay section.boardview article .author.author--above {
    padding-left: 80px;
    min-height: 60px;
    position: relative;
}

.app.essay section.boardview article .author.author--below,
.app.essay section.boardview article .event {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.app.essay section.boardview article .author.author--below {
    margin-top: 30px;
    padding: 40px 30px 30px 140px;
    min-height: 140px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.app.essay section.boardview article .author img,
.app.essay section.boardview article .author object {
    position: absolute;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.app.essay section.boardview article .author.author--above img,
.app.essay section.boardview article .author.author--above object {
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.app.essay section.boardview article .author.author--below img,
.app.essay section.boardview article .author.author--below object {
    top: 30px;
    left: 30px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.app.essay section.boardview article .author .author__name {
    line-height: 1.6em;
}

.app.essay section.boardview article .author .author__info {
    color: #777;
    font-size: 13px;
}

.app.essay section.boardview article .author time {
    display: block;
    font-size: 12px;
    color: #777;
}

.app.essay section.boardview article .event {
    margin-top: 50px
}

@media only screen and (max-width: 600px) {
    .app.essay section.boardview article .author.author--below, 
    .app.essay section.boardview article .event {
        width: 100%;    
    }
}