.app.home section.standview .container article {
    padding-top: 80px;
}

.app.home section.standview .container article section:first-of-type {
    margin-top: 50px;
}

.app.home section.standview .container article h1 {
    font-size: 1.7em;
}

.app.home section.standview .container article > summary,
.app.home section.standview .container article section {
    margin-right: 30px;
}

.app.home section.standview .container article summary {
    font-size: 14px;
}

.app.home section.standview .container article section {}

.app.home section.standview .container article section:last-of-type {
    margin-top: 40px;
    border-top: 1px solid #ccc;
}

.app.home section.standview .container article section h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.7em;
}

.app.home section.standview .container article section h3 {
    font-size: 1.5em;
}

.app.home section.standview .container article section summary {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.app.home section.standview .container article section nav {
    font-size: 0;
}

.app.home section.standview .container article section nav a {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: 33.33%;
    text-align: center;
    font-size: initial;
    color: #333;
}

.app.home section.standview .container article section nav a img {
    border-radius: 5px;
}

.app.home section.standview .container article section nav a label {
    line-height: 36px;
    cursor: pointer;
}

.app.home section.standview .container article section span {
    display: inline-block;
    margin-bottom: 10px;
    width: 49%;
    padding-right: 10px;
    box-sizing: border-box;
}

@media only screen and (max-width: 460px) {
    .app.home section.standview .container article {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .app.home section.standview .container article section nav a label {
        line-height: 20px;
    }
    
}
