.app.guide .boardview .container article > div {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
}

.app.guide .boardview .container article > div > h1 {
    color: #1780b8;
    line-height: 1.4em;
    font-size: 36px;
}

.app.guide .boardview .container article > div > p {
    margin: 40px 0;
    font-size: 1.2em;
    color: #333;
}

.app.guide .boardview .container article > div > h2 {
    color: #3e3d3d;
}

.app.guide .boardview .container article > div > p {
    margin: 7px 0;
    font-size: 1em;
    color: #333;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.8em;
}

.app.guide .boardview .container article > div > p.question {
    font-weight: bold;
    color: #333;
}

.app.guide .boardview .container article > div > ul li , .app.guide .boardview .container article > div > ol li {
    padding: 5px 0;
    font-size: 14px;
    color: #333;
}

.app.guide .boardview .container article > div #join_us {
    margin-top: 20px;
}

.app.guide .boardview .container article > div header {
    position: relative;
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/media-english-agency/images/tutor_bg.png);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5%;
    color: #fff;
    height: auto;
    z-index: 1;
    margin: 0;
}

.app.guide .boardview .container article > div > header h1 {
    font-size: 2em;
    color: #fff;
    width: 100%;
}

.app.guide .boardview .container article > div #join_us h2 {
    margin-top: 10px;
}

#join_us .join-us-cta-btn {
    background-color: #ffde00;
    color: #4a4a4a;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app.guide .boardview .container article > div .container {
    text-align: center;
    width: 100%;
    margin: 50px 0;
    overflow: auto;
    box-shadow: none;
    padding: 0;
}

#join_us .text-image-section h3 {
    font-size: 30px;
    font-weight: 700;
    color: #1780b8;
}

#join_us .text-image-section h4 {
    font-size: 24px;
    font-weight: 700;
    color: #4a4a4a;
    margin: 10px 0;
}

.app.guide .boardview .container article > div .container .image-title-text-item {
    width: 31%;
    float: left;
    margin: 1%;
}

.app.guide .boardview .container article > div .container .image-title-border-text-item {
    margin-top: 40px;
    width: 33.3%;
    float: left;
    padding: 0 10px;
}

.app.guide .boardview .container article > div p:nth-child(2) {
    margin: 40px 0;
    font-size: 1.2em;
    color: #333;
}

.app.guide .boardview .container article > div .container.tow-box .image-title-border-text-item {
    margin-top: 40px;
    width: 50%;
    float: left;
    padding: 0 10px;
}

.app.guide .boardview .container article > div .container .section-cooperater-items div {
    margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
    
    .app.guide section.boardview article header > ul {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .app.guide .boardview .container article > div {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .app.guide section.boardview article header {
        width: 100%;
    }
}