section.boardview article section.filter {
    margin-left: 100px;
    margin-right: 100px;
    list-style: none;
}

section.boardview article section.filter img,
section.boardview article section.filter li {
    display: inline-block;
    vertical-align: middle;
}

section.boardview article section.filter img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}

section.boardview article section.filter li {
    margin-left: 30px;
    padding-right: 30px;
    border-right: solid 10px #f9f9f9;
    font-size: 14px;
    color: #777;
}

section.boardview article section.filter li label {
    display: block;
    font-size: initial;
    color: #4b7eb4;
}

section.boardview article section.content > .courses {}

section.boardview article section.content > .courses span {
    position: relative;
    margin-left: 20px;
    display: block;
    border-bottom: 1px solid #ccc;
}

section.boardview article section.content > .courses span::before {
    position: absolute;
    top: 7px;
    left: -14px;
    width: 4px;
    height: 4px;
    background-color: #333;
    border-radius: 3px;
    content: "";
}

section.boardview article section.content > .roomtypes span + span::before {
    content: ", ";
}

.app.school section.boardview article section.agentlist {
    margin-top: 50px;
    padding: 20px 100px 0;
    border-top: 1px dotted #ccc;
}

.app.school section.boardview article section.agentlist h2 {
    font-weight: 500;
}

.app.school section.boardview article section.agentlist ul {
    padding: 0;
    list-style: none;
    font-size: 0;
    text-align: left;
}

.app.school section.boardview article section.agentlist a {
    display: inline-block;
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding: 20px;
    width: 24%;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: top;
    font-size: initial;
    color: #333;
}

.app.school section.boardview article section.agentlist a img {
    width: 110px;
    height: 110px;
    border-radius: 55px;
}

.app.school section.boardview article section.agentlist a h2 {
    text-align: center;
}

.app.school section.boardview article section.agentlist a p {
    height: 90px;
    overflow: hidden;
}

@media only screen and (max-width: 1100px) {
    
    section.boardview article .gallery {
        width: 110%;
        margin-left: -5%;
    }
    
}

@media only screen and (max-width: 900px) {
    
    section.boardview .container {
        width: 100%;
    }
    
    section.boardview article .gallery {
        width: 100%;
        margin-left: 0;
    }
    
    section.boardview article section.content, 
    section.boardview article section.inner, 
    section.boardview article > div:first-of-type {
        width: 90%;
    }
    
    .app.school section.boardview article section.agentlist {
        padding: 20px 5% 0;
    }
    
}

@media only screen and (max-width: 700px) {
    .app.school section.boardview article section.agentlist a {
        width: 32.3%;
    }
}

@media only screen and (max-width: 600px) {
    section.boardview article header,
    section.boardview article section.filter {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .app.school section.boardview article section.agentlist a {
        width: 49%;
    }
}

@media only screen and (max-width: 320px) {
    section.boardview article header,
    section.boardview article section.filter {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    
    section.boardview article section.filter img {
        width: 100px;
        height: 100px;
        float: left;
    }
    
    section.boardview article section.filter li {
        margin-left: 10px;
        border-left: solid 10px #f9f9f9;
        border-right: none;
        padding-left: 10px;
        font-size: 14px;
        color: #777;
        float: left;
        width: 170px;
    }
    
    section.boardview article section.filter li + li {
        margin-top: 10px;
    }
    
    section.boardview article .gallery {
        margin-top: 160px;
    }
    
    .app.school section.boardview article section.agentlist a {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
    
}