* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body,
html,
.app {
    height:100%;
    padding-bottom: 60px;
}

body {
    margin: 0;
    background-color: #eaeaee;
    font-family: sans-serif;
    color: #333;
}

button {
    outline: 0;
    cursor: pointer;
}

a {
    color: #999;
    text-decoration: none;
}

p {
    word-break: break-all;
}

@font-face {
    font-family: "AGLight";
    src: url("/font/AtlasGrotesk-Light-Web.woff2") format("woff2");
}

@font-face {
    font-family: "AGThin";
    src: url("/font/AtlasGrotesk-Thin-Web.woff2") format("woff2");
}