main.cmsview .container section.school .form li.cover img {
    height: 160px;
}

main.cmsview .container section.school .form li > div > label {
    display: inline-block;
    cursor: pointer;
}

main.cmsview .container section.school .form li > div > label input,
main.cmsview .container section.school .form li > div > label span {
    vertical-align: middle;
}

main.cmsview .container section.school .form li > div > label input {
    width: auto;
}

main.cmsview .container section.school .form li > div > label span {
    font-size: 14px;
    margin-right: 10px;
}

main.cmsview .container section.school.modifiable .form li > div > label {
    pointer-events: none;
}

main.cmsview .container section.school.modifiable.modify .form li > div > label {
    pointer-events: initial;
}

main.cmsview .container section.school.modifiable .form li > div > label input[type=checkbox] + span {
    display: none;
}

main.cmsview .container section.school.modifiable .form li > div > label input[type=checkbox]:checked + span,
main.cmsview .container section.school.modifiable.modify .form li > div > label input[type=checkbox] + span {
    display: initial;
}

@media only screen and (max-width: 500px) {
    main.cmsview .container section.school .form li.cover img {
        height: auto;
        width: 100%;
    }
}