main.cmsview .container section.form {
    word-break: break-all;
}

main.cmsview .container section.form > li {
    padding: 0 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    list-style: none;
    vertical-align: top;
    font-size: initial;
}

main.cmsview .container section.form > li + li {
    margin-top: 30px;
}

main.cmsview .container section.form li > label {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    color: #999;
}

main.cmsview .container section.form p,
main.cmsview .container section.form input,
main.cmsview .container section.form select {
    padding-left: 2px;
    height: 30px;
    font-size: 14px;
}

main.cmsview .container section.form p,
main.cmsview .container section.form button {
    display: inline-block;
}

main.cmsview .container section.form p {
    margin: 0;
    line-height: 30px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

main.cmsview .container .modifiable.modify section.form p,
main.cmsview .container .modifiable section.form input,
main.cmsview .container .modifiable section.form textarea,
main.cmsview .container .modifiable section.form select {
    display: none;
}

main.cmsview .container section.form input,
main.cmsview .container section.form textarea,
main.cmsview .container section.form select {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0;
}

main.cmsview .container section.form input[type=file] {
    cursor: pointer;
    height: auto;
}

main.cmsview .container .modifiable.modify section.form input,
main.cmsview .container .modifiable.modify section.form textarea,
main.cmsview .container .modifiable.modify section.form select {
    display: block;
}

main.cmsview .container .modifiable.modify section.form input[type=checkbox] {
    display: initial;
}

main.cmsview .container section.form input::placeholder,
main.cmsview .container section.form textarea::placeholder {
    color: #ccc;
}

main.cmsview .container section.form input[disabled] {
    color: #999;
}

main.cmsview .container section.form input + input {
    margin-top: 10px;
}

main.cmsview .container section.form textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    line-height: 1.5em;
    font-size: initial;
}

main.cmsview .container section.form button {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #777;
    transition: .3s;
}

main.cmsview .container section.form button.verify {
    background-color: #1880b8;
    border: 0;
    color: #fff;
}

main.cmsview .container section.form p ~ button {
    margin-left: 13px;
}

main.cmsview .container section.form button + button {
    margin-left: 4px;
}

main.cmsview .container section.form button:hover {
    color: #fff;
    border-color: #4b7eb4;
    background-color: #4b7eb4;
}

main.cmsview .container section.form select {
    background-color: #fff;
    cursor: pointer;
}

main.cmsview .container .form li .multilabel > label {
    display: inline-block;
    cursor: pointer;
}

main.cmsview .container .form li .multilabel > label input,
main.cmsview .container .form li .multilabel > label span {
    vertical-align: middle;
}

main.cmsview .container .form li .multilabel > label input {
    width: auto;
}

main.cmsview .container .form li .multilabel > label span {
    font-size: 14px;
    margin-right: 10px;
}

main.cmsview .container section.modifiable .form li .multilabel > label {
    pointer-events: none;
}

main.cmsview .container section.modifiable.modify .form li .multilabel > label {
    pointer-events: initial;
}

main.cmsview .container section.modifiable .form li .multilabel > label input[type=checkbox] + span {
    display: none;
}

main.cmsview .container section.modifiable .form li .multilabel > label input[type=checkbox]:checked + span,
main.cmsview .container section.modifiable.modify .form li .multilabel > label input[type=checkbox] + span {
    display: initial;
}

main.cmsview .container .form li.cover img {
    height: 160px;
}

@media only screen and (max-width: 600px) {
    main.cmsview .container section.form > li {
        padding: 0;
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 500px) {
    main.cmsview .container section.form > li {
        padding: 0px;
        padding-bottom: 30px;
    }
}