main.cmsview .container section.schoollist {}

main.cmsview .container section.schoollist section.schooltable {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 14px;
}

main.cmsview .container section.schoollist section.schooltable li {
    width: 100%;
    padding: 5px;
}

main.cmsview .container section.schoollist section.schooltable li a {
    display: block;
    padding: 10px 14px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
}

main.cmsview .container section.schoollist section.schooltable li a:hover {
    border-color: #1880b8;
}

main.cmsview .container section.schoollist section.schooltable li a small {
    float: right;
    color: #777;
}

@media only screen and (max-width: 760px) {
    main.cmsview .container section.schoollist section.schooltable li a span {
        width: 65%;
        display: -webkit-inline-box;
        word-break: break-word;
    }
}

@media only screen and (max-width: 600px) {
    
    main.cmsview .container section.schoollist section.schooltable li a {
        float: left;
    }
    
    main.cmsview .container section.schoollist section.schooltable li a span,
    main.cmsview .container section.schoollist section.schooltable li a small {
        width: 100%;
        display: -webkit-inline-box;
        word-break: break-word;
    }
    
    main.cmsview .container section.schoollist section.schooltable li a small {
        border-top: dashed 1px #ccc;
        padding-top: 10px;
        margin-top: 10px;
        text-align: right;
    }
}