main.cmsview .container section.dorm .form input[type=checkbox] {
    width: auto;
}

main.cmsview .container section.dorm .form table {
    width: 100%;
}

main.cmsview .container section.dorm .form table thead {
    font-size: 12px;
}

main.cmsview .container section.dorm .form table th:nth-of-type(n+2) {
    width: 100px;
    text-align: center;
}

main.cmsview .container section.dorm .form table th:nth-of-type(n+3) {
    width: 50px;
}

main.cmsview .container section.dorm .form table tbody {
    text-align: center;
}

main.cmsview .container section.dorm.modifiable .form table,
main.cmsview .container section.dorm.modifiable.modify .form ul {
    display: none;
}

main.cmsview .container section.dorm.modifiable.modify .form table {
    display: table;
}

main.cmsview .container section.dorm.modifiable.modify .form input {
    display: inline-block;
}

main.cmsview .container section.dorm .form small {
    color: #999;
}