main.cmsview .container section.picturelist {
    list-style: none;
}

main.cmsview .container section.picturelist li {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
}

main.cmsview .container section.picturelist img {
    display: block;
    height: 100px;
}

@media only screen and (max-width: 500px) {
    
    main.cmsview .container section.picturelist li {
        margin-bottom: -4px;
        margin-right: 0px;
    }
    
    main.cmsview .container section.picturelist img {
        height: auto;
        width: 100%;
    }
}