main.cmsview .container section.profile {}

main.cmsview .container section.profile > div {
    padding: 0 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
    font-size: initial;
}

main.cmsview .container section.profile > div + div {
    margin-top: 30px;
}

main.cmsview .container section.profile > div label {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    color: #999;
}

main.cmsview .container section.profile > div p,
main.cmsview .container section.profile > div input {
    padding-left: 2px;
    height: 30px;
    font-size: 14px;
}

main.cmsview .container section.profile > div p,
main.cmsview .container section.profile > div button {
    display: inline-block;
}

main.cmsview .container section.profile > div p {
    margin: 0;
    line-height: 30px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

main.cmsview .container section.profile.modify > div p,
main.cmsview .container section.profile > div input,
main.cmsview .container section.profile > div textarea {
    display: none;
}

main.cmsview .container section.profile > div input,
main.cmsview .container section.profile > div textarea {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0;
}

main.cmsview .container section.profile.modify > div input,
main.cmsview .container section.profile.modify > div textarea {
    display: block;
}

main.cmsview .container section.profile > div input[disabled] {
    color: #999;
}

main.cmsview .container section.profile > div input + input {
    margin-top: 10px;
}

main.cmsview .container section.profile > div textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    line-height: 1.5em;
    font-size: initial;
}

main.cmsview .container section.profile > div button {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #777;
    transition: .3s;
}

main.cmsview .container section.profile > div button.verify {
    background-color: #1880b8;
    border: 0;
    color: #fff;
}

main.cmsview .container section.profile > div p ~ button {
    margin-left: 13px;
}

main.cmsview .container section.profile > div button + button {
    margin-left: 4px;
}

main.cmsview .container section.profile > div button:hover {
    color: #fff;
    border-color: #4b7eb4;
    background-color: #4b7eb4;
}


@media only screen and (max-width: 600px) {
    main.cmsview .container section.profile > div {
        padding: 0;
        padding-bottom: 30px;
    }
}