main.cmsview {
    margin-top: 60px;
    margin-left: 200px;
    padding-top: 40px;
}

main.cmsview .container {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    width: 900px;
    min-height: 300px;
}

main.cmsview .container > section {
    position: relative;
    margin-top: 90px;
    padding: 60px 50px;
    min-height: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

main.cmsview .container > section + section {
    margin-top: 80px;
}

main.cmsview .container > section header,
main.cmsview .container > section header::before,
main.cmsview .container > section header > * {
    vertical-align: bottom;
}

main.cmsview .container > section header {
    position: absolute;
    top: -90px;
    left: 0;
    right: 0;
    height: 90px;
}

main.cmsview .container > section + section header {
    top: -80px;
    height: 80px;
}

main.cmsview .container > section header::before {
    display: inline-block;
    height: 100%;
    content: "";
}

main.cmsview .container > section header h1,
main.cmsview .container > section header h2 {
    display: inline-block;
    margin: 0 0 12px 8px;
    color: #4b7eb4;
}

main.cmsview .container > section header h1 {
    font-size: 30px;
}

main.cmsview .container > section header h2 {
    font-weight: normal;
    font-size: 24px;
}

main.cmsview .container > section header nav {
    position: absolute;
    bottom: 0;
    right: 10px;
    margin-bottom: 14px;
}

main.cmsview .container > section header nav a,
main.cmsview .container > section header nav button {
    display: inline-block;
    margin-left: 4px;
    padding: 6px 8px;
    height: 30px;
    border: 1px solid #999;
    border-radius: 5px;
    vertical-align: bottom;
    line-height: 16px;
    font-size: 14px;
    color: #999;
}

main.cmsview .container > section header nav button {
    background-color: transparent;
}

@media only screen and (max-width: 1100px) {
    main.cmsview .container {
        width: 96%;
    }
}

@media only screen and (max-width: 760px) {
    main.cmsview .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    main.cmsview .container > section {
        padding: 60px 30px;
    }
}

@media only screen and (max-width: 600px) {
    main.cmsview {
        margin-left: 150px;
    }
}

@media only screen and (max-width: 500px) {
    
    main.cmsview .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    main.cmsview .container > section {
        margin-top: 140px;
        padding: 20px;
    }
    
    main.cmsview .container > section + section {
        margin-top: 100px;
    }
    
    main.cmsview .container > section header h1,
    main.cmsview .container > section header h2 {
        margin-bottom: 50px;
    }
    
}

@media only screen and (max-width: 460px) {
    main.cmsview {
        margin-left: 20px;
    }
    
    main.cmsview .container {
        padding-bottom: 80px;
    }
}
