section.filter {}

.standview section.filter {
    margin-top: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

section.filter strong {
    display: block;
    margin-bottom: 4px;
}

.standview section.filter strong {
    margin-top: 10px;
    margin-left: 3px;
}

nav.menu section.filter strong {
    margin-bottom: 10px;
    font-size: 13px;
    color: #1880b8;
}

nav.menu section.filter strong:nth-of-type(n+2) {
    margin-top: 30px;
}

section.filter select {
    margin: 2px;
    width: 40%;
    height: 30px;
    background: 0;
    outline: 0;
    border: 1px solid #ccc;
    font-size: 15px;
}

nav.menu section.filter select {
    display: block;
    margin: 0 0 8px;
    width: 100%;
    height: 36px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 0;
    font-size: 14px;
}

nav.menu section.filter select + select {
    margin-top: 10px;
}