.app > footer {
    margin-left: 47%;
    width: 53%;
    padding: 25px 35px;
    font-size: 13px;
    background-color: #5a5b5b;
    float: left;
    transition: .3s;
    text-align: center;
}

.app > footer > * {
    color: #fff;
    padding-bottom: 5px;
}

.app > footer a {
    color: #fff;
    padding-right: 10px;
    line-height: 20px;
}

.app > footer nav {
    border-bottom: solid 1px #fff;
    margin-bottom: 10px;
}

.app > footer a:hover {
    text-decoration: underline;
    color: #4cc1ff;
}

.app.richorizon > footer,
.app.school > footer,
.app.agent > footer,
.app.guide > footer,
.app.essay > footer
{
    width: 100%;
    position: relative;
    padding: 10px 0;
    margin-left: 0;
}

.app.richorizon > footer > *,
.app.school > footer > * ,
.app.agent > footer > * {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px 5px 270px;
    color: #fff;
    text-align: center;
}

.app.richorizon > footer nav,
.app.school > footer nav ,
.app.agent > footer nav,
.app.guide > footer nav, 
.app.essay > footer nav {
    border-bottom: none;
    margin-bottom: 0px;
}

.app.school.unverify > footer,
.app.guide.unverify > footer
{
    margin-left: 0;
    width: 100%;
    text-align: center;
}

.app.unverify > footer > * ,
.app.richorizon.unverify > footer > * ,
.app.agent > footer > * ,
.app > footer > * ,
.app.sign.richorizon > footer > * {
    padding: 5px 20px 5px 20px;
}

.app.school.unverify > footer nav {
    border-bottom: none;
    margin-bottom: 0px;
}

@media only screen and (max-width: 460px) {
    .app > footer {
        width: 90%;
        margin-left: 0;
        float: right;
        padding: 20px 0;
        box-shadow: -40px 0 0 0 #717171;
        transition: 0s;
        text-align: left;
    }
    
    .app > footer nav {
        margin-bottom: 0;
    }
    
    .app.richorizon > footer, 
    .app.richswitch > footer {
        width: 90%;
        padding: 20px 0;
    }
    
    .app.richorizon > footer > *, 
    .app.school > footer > * ,
    .app.agent > footer > * {
        text-align: left;
    }
    
    .app > footer nav {
        float: left;
        border: none;
    }
    
    .app > footer nav > * {
        width: 100%;
        float: left;
        height: 40px;
        margin-bottom: 20px;
        border-bottom: solid 1px #808080;
    }
    
    .app > footer > div {
        line-height: 40px;
    }
    
    .app > footer span {
        display: block;
    }
    
}