nav.menu {
    position: fixed;
    top: 100px;
    bottom: 30px;
    left: 0;
    z-index: 7;
    transform: translateX(-100%);
    padding: 100px 20px 30px;
    width: 240px;
    transition: 300ms ease-out transform, left;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.app.richorizon nav.menu {
    transform: translateX(0);
    left: 1%;
}

nav.menu label,
nav.menu a {
    display: block;
}

nav.menu label {
    margin-bottom: 10px;
    font-size: 13px;
    color: #4b7eb4;
}

nav.menu label ~ label {
    margin-top: 30px;
}

nav.menu a,
nav.menu a > *,
nav.menu a::after {
    vertical-align: middle;
}

nav.menu a {
    padding: 6px 15px 6px 12px;
    height: 0;
    min-height: 36px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

nav.menu a + a {
    margin-top: 10px;
}

nav.menu a > *,
nav.menu a::after {
    display: inline-block;
}

nav.menu a::after {
    height: 100%;
    content: "";
}

@media only screen and (max-width: 760px) {
    nav.menu {
        top: 130px;
    } 
}

@media only screen and (max-width: 460px) {
    
    nav.menu {
        transition: .3s;
        top: 108px;
        padding-top: 50px;
    }
    
    .app.richorizon nav.menu {
        left: 0;
        width: 70%;
        top: 108px;
        bottom: 0;
        padding-top: 50px;
    }
    
    .app.richswitch nav.menu {
        margin-left: -60%;
    }
    
}