section.standview {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    padding-bottom: 30px;
    width: 47%;
    background-color: #fff;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    transition-property: transform filter;
    overflow-y: auto;
}

.app.richorizon section.standview {
    transform: translateX(-100%);
}

section.standview .container {}

section.standview article,
section.standview footer {
    margin-left: auto;
    width: 93%;
}

section.standview article {
    padding-top: 40px;
    padding-bottom: 40px;
}

section.standview article h1 {
    margin-top: 36px;
    margin-bottom: 30px;
    font-size: 1.5em;
}

section.standview article img {
    max-width: 100%;
}

section.standview article > object:first-of-type,
section.standview article > img:first-of-type {
    width: 100%;
    border-radius: 5px 0 0 5px;
}

section.standview article > div:first-of-type {
    margin-right: 30px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

section.standview article > ul:first-of-type {
    padding: 0;
    list-style: none;
    font-size: 13px;
}

section.standview article > ul:first-of-type li {
    display: inline;
}

section.standview article > ul:first-of-type li + li::before {
    margin-left: 6px;
    margin-right: 6px;
    content: "/\00a0";
}

section.standview article > ul:first-of-type li a {
    color: #1780b8;
}

section.standview article aside {
    margin-top: 60px;
    margin-right: 30px;
}

section.standview article aside a {
    display: block;
    padding: 10px 20px 10px 10px;
    overflow: hidden;
    color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

section.standview article aside a + a {
    margin-top: 20px;
}

section.standview article aside a h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

section.standview article aside a object,
section.standview article aside a img {
    margin-right: 20px;
    float: left;
    object-fit: cover;
    width: 160px;
    height: 120px;
}

section.standview article aside a summary {
    position: relative;
    height: 51px;
    overflow: hidden;
    line-height: 17px;
    font-size: 12px;
    color: #666;
}

section.standview article aside a summary::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 16px;
    background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    content: "";
}

section.standview footer {
    margin-bottom: 40px;
    padding-right: 30px;
    overflow: hidden;
}

section.standview footer nav,
section.standview footer div {
    width: 100%;
    float: left;
    font-size: 14px;
    border-top: solid 1px #ccc;
    margin-top: 30px;
    padding-top: 30px;
}

section.standview footer nav a {
    position: relative;
    line-height: 1.5em;
    font-size: 14px;
}

section.standview footer nav a:hover {
    color: #cfcfcf;
}

section.standview footer nav a + a {
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #ccc;
}

section.standview footer div {
    text-align: center;
}

section.standview footer span {
    width: 50%;
    display: block;
    float: left;
}

@media only screen and (max-width: 460px) {
    section.standview {
        width: 100%;
        z-index: 2;
        top: 80px;
    }
    
    .app.richswitch section.standview {
        margin-left: -90%;
    }
}