.subscribeShow {
    display: none;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    transition: 0.25s ease;
}

.subscribeShow.work {
    display: block;
}

.closeSubscribe {
    z-index: 2;
    background: #fff;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    border: none;
    transition: 0.25s ease;
}

.closeSubscribe::before,
.closeSubscribe::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 1px;
    -webkit-transform: translate(-50%) rotate(45deg);
            transform: translate(-50%) rotate(45deg);
    background-color: #000;
    content: "";
}

.closeSubscribe:hover {
    border: solid 1px #fff;
}

.closeSubscribe:hover::before,
.closeSubscribe:hover::after {
    background-color: #fff;
}

.closeSubscribe::after {
    -webkit-transform: translate(-50%) rotate(-45deg);
            transform: translate(-50%) rotate(-45deg);
}

.subscribeShow {
    height: 100%;
}

.subscribeShow div:nth-child(1) {
    width: 100%;
    height: 100%;
}

.subscribeShow div:nth-child(2) {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 30px;
    width: 50%;
    height: 50%;
    overflow: hidden;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: top-1 .4s;
            animation: top-1 .4s;
    background: #fff;
    border-radius: 5px;
    background: #4596c5;
}

.subscribeShow span {
    display: block;
    width: 100%;
    height: auto;
}

.subscribeShow span:nth-child(1) {
    padding: 30px 0;
}

.subscribeShow span:nth-child(2) {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.subscribeShow span input {
    margin: 10px 10%;
    padding: 4px 16px;
    width: 80%;
    height: 36px;
    background-color: #eee;
    outline: 0;
    border: 0;
    border-radius: 5px;
}

.subscribeShow span button {
    width: 80%;
    margin: 10px 10%;
    height: 36px;
    border: 0;
    border-radius: 5px;
    background: #4b7eb4;
    color: #fff;
    font-size: 14px;
    transition: 0.25s ease;
}

.subscribeShow button:hover {
    background: #5a5b5b;
    color: #fff;
}

@media only screen and (max-width: 980px) {

    .subscribeShow {
        height: 100%;
        overflow-y: auto;
    }

    .subscribeShow span {
        display: block;
        height: auto;
        padding: 10% 0;
    }

    .subscribeShow div:nth-child(2) {
        top: 50%;
        left: 50%;
        padding-top: 30px;
        width: 100%;
        height: 100%;
        -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        border-radius: 0;
    }

    .subscribeShow span:nth-child(1) {
        margin: 50% 0 0 50%;
        padding: 0;
        -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
    }

    .subscribeShow span:nth-child(2) {
        display: flex;
        padding: 0;
        height: auto;
    }

    .subscribeShow span input,
    .subscribeShow span button {
        width: 90%;
        margin: 3% 5%;
    }

}

@-webkit-keyframes top-1 {
    from {
        -webkit-transform: translate(-50% , -60%);
                transform: translate(-50% , -60%);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(-50% , -50%);
                transform: translate(-50% , -50%);
        opacity: 1;
    }
}

@keyframes top-1 {
    from {
        -webkit-transform: translate(-50% , -60%);
                transform: translate(-50% , -60%);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(-50% , -50%);
                transform: translate(-50% , -50%);
        opacity: 1;
    }
}